@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.tabbrowser-tabs {
    margin: 0 !important;
    padding: 0 !important;
    background: transparent !important;
    background-color: rgb(238, 243, 250) !important; /* #sidebar uses this */
    background-color: Window !important; /* other Win7 apps seems to use this */
}

.tabbrowser-tab {
    -moz-box-pack: start;
    -moz-box-flex: 0;
    -moz-appearance: none !important;
    background: transparent !important;
    border: 1px solid transparent !important;
    -moz-border-radius: 3px !important;
    margin: 0 !important;
    padding: 1px 0 !important;
    height: 20px !important;
    min-height: 20px !important;
    max-height: 20px !important;
}
.tabbrowser-tab:hover {
    border: 1px solid #b9d7fc !important;
    background: -moz-linear-gradient(top, Window, #edf5ff) repeat-x !important;
}

.tabbrowser-tab[selected="true"],
.tabbrowser-tab[multiselect="true"] {
    margin: 0 !important;
    padding: 1px 0 !important;

    border: 1px solid #84acdd !important;
    background: -moz-linear-gradient(top, Window, #d0e5ff) repeat-x !important;

    font-weight: normal;
    text-shadow: none;
}
.tabbrowser-tab[selected="true"]:-moz-window-inactive,
.tabbrowser-tab[multiselect="true"]:-moz-window-inactive {
    border: 1px solid #dadada !important;
    background: -moz-linear-gradient(top, Window, #e6e6e6) repeat-x !important;
}

.tabbrowser-tab:not([selected="true"]):hover {
    margin: 0 !important;
    padding: 1px 0 !important;
}

/* Turn mouse cursor into a pointy hand.  This seems to be the
   standard for link lists like these. */
.tabbrowser-tab,
.tab-text {
    cursor: pointer !important;
}

.tabbrowser-tab:not(:hover):not([selected="true"]) .tab-close-button {
    visibility: collapse !important;
}

/* Keep the close button at a safe distance from the tab label. */
.tab-close-button {
    display: -moz-box;
    margin-left: 3px;
}


/* Drop indicator for drag'n'drop of tabs */
.tab-drop-indicator {
    list-style-image: url("chrome://verticaltabs/skin/win7/dropmarker.png");
    margin-top: -11px !important; /* height of the above image */
}


/* Tab toolbar styling */

#verticaltabs-groupbutton {
    /* TODO need icon to symbolize tab group */
    list-style-image: url("chrome://browser/skin/Toolbar.png");
    -moz-image-region: rect(0, 234px, 18px, 216px);
}


/*** Group related styles ***/

.tabbrowser-tab[verticaltabs-ingroup],
.tabbrowser-tab[verticaltabs-ingroup]:hover {
    padding-left: 16px !important;
}

.tabbrowser-tab[verticaltabs-group] {
}

.tabbrowser-tab[verticaltabs-group] .tab-close-button {
    opacity: 1 !important;
}

.tabbrowser-tab[verticaltabs-group] .tab-text {
}

.verticaltabs-textbox {
    margin: 0;
}

.verticaltabs-counter {
    visibility: collapse;
}

.verticaltabs-droptarget {
    border: 1px solid #7da2ce !important;
    background: -moz-linear-gradient(top, #dcebfc, #c1dbfc) repeat-x !important;
    -moz-border-radius: 2px !important;
}

.verticaltabs-dropingroup {
    margin-left: 10px !important;
}

.verticaltabs-droptonewgroup {
    /* TODO need icon to symbolize tab group */
    list-style-image: url("chrome://browser/skin/Toolbar.png");
    -moz-image-region: rect(0, 234px, 18px, 216px);
}

.verticaltabs-twisty {
    cursor: default !important;
    margin-left: 1px !important;
    margin-right: 2px !important;
    list-style-image: url("chrome://verticaltabs/skin/win7/twisty.png");
}
.tabbrowser-tab[verticaltabs-collapsed="true"] .verticaltabs-twisty {
    list-style-image: url("chrome://verticaltabs/skin/win7/twisty-collapsed.png");
}
