@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#verticaltabs-splitter {
    min-width: 3px !important;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
    border-right: 3px solid !important;
    -moz-border-right-colors: #fcfcfc #d6e5f5 !important;
    background-color: #fcfcfc !important;
    margin: 0 0 1px 0 !important;
}

.tabbrowser-tabs {
    margin: 0 !important;
    padding: 1px 0px 1px 1px !important;
    background: transparent !important;
    background-color: #fcfcfc !important; /* other Win7 apps seems to use this */
}

.tabbrowser-tab {
    -moz-box-pack: start;
    -moz-box-flex: 0;
    -moz-appearance: none !important;
    background: transparent !important;
    border: 2px solid transparent !important;
    border-radius: 2.67px !important;
    margin: 0 !important;
    padding: 0 0 0 3px !important;
    height: 21px !important;
    min-height: 21px !important;
    max-height: 21px !important;
}
.tabbrowser-tab:hover {
    border: 2px solid !important;
    -moz-border-top-colors: #b8d6fb #fcfdfe !important;
    -moz-border-bottom-colors: #b8d6fb #f2f7fe !important;
    -moz-border-left-colors: #b8d6fb #f9fcfe !important;
    -moz-border-right-colors: #b8d6fb #f9fcfe !important;
    background: -moz-linear-gradient(top, #fafbfd, #ebf3fd) repeat-x !important;
}

.tabbrowser-tab[selected="true"],
.tabbrowser-tab[multiselect="true"] {
    margin: 0 !important;
    padding: 0 0 0 3px !important;

    border: 2px solid !important;
    -moz-border-top-colors: #84acdd #f1f7fe !important;
    -moz-border-bottom-colors: #84acdd #deedfe !important;
    -moz-border-left-colors: #84acdd #e8f2fe !important;
    -moz-border-right-colors: #84acdd #e8f2fe !important;
    background: -moz-linear-gradient(top, #ebf4fe, #cfe4fe) repeat-x !important;

    font-weight: normal;
    text-shadow: none;
}
.tabbrowser-tab[selected="true"]:-moz-window-inactive,
.tabbrowser-tab[multiselect="true"]:-moz-window-inactive {
    border: 2px solid !important;
    -moz-border-top-colors: #d9d9d9 #fafafb !important;
    -moz-border-bottom-colors: #d9d9d9 #f0f0f0 !important;
    -moz-border-left-colors: #d9d9d9 #f8f8f8 !important;
    -moz-border-right-colors: #d9d9d9 #f8f8f8 !important;
    background: -moz-linear-gradient(top, #f8f8f8, #e5e5e5) repeat-x !important;
}

.tabbrowser-tab:not([selected="true"]):hover {
    margin: 0 !important;
    padding: 0 0 0 3px !important;
}

.tabbrowser-tab:-moz-lwtheme {
    color: black;
    text-shadow: none;
}

/* Turn mouse cursor into a pointy hand.  This seems to be the
   standard for link lists like these. */
.tabbrowser-tab,
.tab-text {
    cursor: pointer !important;
}

.tabbrowser-tab:not(:hover):not([selected="true"]) .tab-close-button {
    visibility: collapse !important;
}

.tab-icon-image {
    margin: 0px 4px 1px 0px !important;
}

/* Keep the close button at a safe distance from the tab label. */
.tab-close-button {
    display: -moz-box;
    margin-left: 3px;
}


/* Drop indicator for drag'n'drop of tabs */
.tab-drop-indicator {
    list-style-image: url("chrome://verticaltabs/skin/win7/dropmarker.png");
    margin-top: -13px !important; /* height of the above image */
    margin-bottom: 0 !important;
}


/* Tab toolbar styling */

#TabsToolbar:not(:-moz-lwtheme)  {
    margin-bottom: 1px;
    -moz-box-shadow: ThreeDLightShadow 0px 0px 45px 0px inset;
}

#verticaltabs-groupbutton {
    /* TODO need icon to symbolize tab group */
    list-style-image: url("chrome://browser/skin/Toolbar.png");
    -moz-image-region: rect(0, 234px, 18px, 216px);
}


/* Ensure that content area has a top border */
#navigator-toolbox::after {
    visibility: visible !important;
}


/* Addon bar styling */

#main-window[sizemode=normal] #browser-bottombox:not(:-moz-lwtheme),
#main-window[sizemode=normal] #addon-bar:not(:-moz-lwtheme) {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 4px !important;
}

#appcontent {
    border-bottom-right-radius: 4px !important;
}


/*** Group related styles ***/

.tabbrowser-tab[verticaltabs-ingroup],
.tabbrowser-tab[verticaltabs-ingroup]:hover {
    padding-left: 16px !important;
}

.tabbrowser-tab[verticaltabs-group] {
}

.tabbrowser-tab[verticaltabs-group] .tab-close-button {
    opacity: 1 !important;
}

.tabbrowser-tab[verticaltabs-group] .tab-text {
}

.verticaltabs-textbox {
    margin: 0;
}

.verticaltabs-counter {
    visibility: collapse;
}

.verticaltabs-droptarget {
    border: 2px solid !important;
    -moz-border-top-colors: #84acdd #f1f7fe !important;
    -moz-border-bottom-colors: #84acdd #deedfe !important;
    -moz-border-left-colors: #84acdd #e8f2fe !important;
    -moz-border-right-colors: #84acdd #e8f2fe !important;
    background: -moz-linear-gradient(top, #ebf4fe, #cfe4fe) repeat-x !important;
}

.verticaltabs-dropingroup {
    margin-left: 10px !important;
}

.verticaltabs-droptonewgroup {
    /* TODO need icon to symbolize tab group */
    list-style-image: url("chrome://browser/skin/Toolbar.png");
    -moz-image-region: rect(0, 234px, 18px, 216px);
}

.verticaltabs-twisty {
    cursor: default !important;
    margin-left: 1px !important;
    margin-right: 2px !important;
    list-style-image: url("chrome://verticaltabs/skin/win7/twisty.png");
}
.tabbrowser-tab[verticaltabs-collapsed="true"] .verticaltabs-twisty {
    list-style-image: url("chrome://verticaltabs/skin/win7/twisty-collapsed.png");
}
