html, body {
  box-sizing: border-box;
  width: 300px;
  --light-gray: rgba(0, 0, 0, 0.15);
}

.tab {
  height: 48px;
  border-top: 1px solid var(--light-gray);
  border-left: 3px solid transparent;
  overflow: hidden;
}

.pinned-tabs {
  border-left: 3px solid #2284e6;
  /*width: 100%;*/
  position: sticky;
  top: 0;
  background: #fcfcfc;
  border-bottom: 1px solid var(--light-gray);
}

.pinned-tabs .tab {
  display: inline-block;
}

.tab:hover {
  background: var(--light-gray);
}

.tab .favicon {
  width: 32px;
  height: 32px;
  float: left;
}

.tab .title {
  text-overflow: ellipsis;
}
