.tabbrowser-tabs[vertical="true"] {
  -moz-binding: url("chrome://verticaltabs/content/vertical-tabbrowser.xml#tabbrowser-tabs") ! important;
}

.tabbrowser-arrowscrollbox[vertical="true"] {
  -moz-binding: url("chrome://verticaltabs/content/vertical-tabbrowser.xml#tabbrowser-arrowscrollbox") ! important;
}
