.tabbrowser-tabs[vertical="true"] {
  -moz-binding: url("chrome://tabcenter/content/vertical-tabbrowser.xml#tabbrowser-tabs") !important;
}

.tabbrowser-arrowscrollbox[vertical="true"] {
  -moz-binding: url("chrome://tabcenter/content/vertical-tabbrowser.xml#tabbrowser-arrowscrollbox") !important;
}

.tabbrowser-tabs[vertical="true"] .tabbrowser-tab {
  -moz-binding: url("chrome://tabcenter/content/vertical-tabbrowser.xml#tabbrowser-tab") !important;
}
