@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Background colour for the tree sidebar (light blue when window is
   active, grey otherwise) */
.tabbrowser-tabs {
    margin: 0 !important;
    padding: 0 !important;
    background: transparent !important;
    background-color: #d4dde5 !important;
}
.tabbrowser-tabs:-moz-window-inactive {
    background-color: #e8e8e8 !important;
}

/* Use the splitter to display the border of .tabbrowser-tabs */
#verticaltabs-splitter {
    width: 1px !important;
    min-width: 1px !important;
    background-image: none;
    background-color: #404040;
}
#verticaltabs-splitter:-moz-window-inactive {
    background-color: #868686;
}

/* Style tabs themselves.  Get rid of most of the initial XUL styling */
.tabbrowser-tab {
    -moz-box-pack: start;
    -moz-box-flex: 0;
    -moz-appearance: none !important;
    background: transparent !important;
    -moz-border-top-colors: none !important;
    -moz-border-bottom-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-radius: 0 !important;
    -moz-box-align: stretch !important;
    margin: 0 !important;
    padding: 0 3px 2px 10px !important;
    height: 21px !important;     /* height including border! */
    text-align: left !important;
    border: none;
    border-top: 1px solid transparent !important;
    overflow: hidden;  /* so that the heigh transition for collapsed works */
}

.tabbrowser-tab[selected="true"],
.tabbrowser-tab[multiselect="true"] {
    border-top: 1px solid #94A1C0 !important;
    background: -moz-linear-gradient(top, #A0B0CF, #7386AB) repeat-x !important;
}
.tabbrowser-tab[selected="true"]:-moz-window-inactive,
.tabbrowser-tab[multiselect="true"]:-moz-window-inactive {
    border-top: 1px solid #979797 !important;
    background: -moz-linear-gradient(top, #B4B4B4, #8A8A8A) repeat-x !important;
}

/* Keep the close button at a safe distance from the tab label. */
.tab-close-button {
    margin-left: 3px;
}

.tab-close-button image {
    list-style-image: url("chrome://verticaltabs/skin/osx/closetab.png");
    opacity: 0.27;  /* turn black into #b9b9b9 */
}
.tab-close-button:active image {
    opacity: 0.46;  /* turn black into #8a8a8a */
}
.tabbrowser-tab[selected="true"] .tab-close-button image,
.tabbrowser-tab[multiselect="true"] .tab-close-button image {
    list-style-image: url("chrome://verticaltabs/skin/osx/closetab-white.png");
    opacity: 1;
}

.tabbrowser-tab:not(:hover):not([selected="true"]) > .tab-close-button {
    visibility: collapse !important;
}

/* Always display the favicon at 100% opacity */
.tabbrowser-tab:not(:hover):not([selected="true"]) .tab-icon-image {
    opacity: 1.0 !important;
}

/* Tab label is without special decoration except when selected: then
   the text is white and bold. */
.tab-text {
    font-size: 11px;
    font-weight: normal !important;
    color: #000000 !important;
    text-shadow: none !important;
    margin-bottom: 1px;
}
.tabbrowser-tab[selected="true"] .tab-text,
.tabbrowser-tab[multiselect="true"] .tab-text {
    font-weight: bold !important;
    color: #ffffff !important;
    text-shadow: 0 1px #404040 !important;
}


/* Drop indicator for drag'n'drop of tabs */
.tab-drop-indicator {
    list-style-image: url("chrome://verticaltabs/skin/osx/dropmarker.png");
    margin-top: -12px !important; /* height of the above image */
}

/* New toolbar buttons in the new statusbar */
.verticaltabs-button {
    border-right: 1px solid #868686;
    border-left: 1px solid #868686;
    width: 48px;
    height: 20px;
    margin: 0;
}
.verticaltabs-button:hover:active {
    background-color: -moz-mac-chrome-active;
}

#verticaltabs-newtabbutton {
    border-left: none;
    margin-left: -2px; /* make it tight with the left side of the window */
    list-style-image: url(chrome://browser/skin/tabbrowser/newtab.png);
    -moz-image-region: rect(2px, 17px, 18px, 1px);
    padding: 0 0 0 16px; /* make sure the image has space and is centered */
}
#verticaltabs-newtabbutton:hover {
    -moz-image-region: rect(2px, 35px, 18px, 19px);
}
#verticaltabs-newtabbutton:hover:active {
    -moz-image-region: rect(2px, 53px, 18px, 37px);
}

#verticaltabs-alltabsbutton {
    margin-left: -1px; /* make it tight with the "new tab" button */
    list-style-image: url(chrome://browser/skin/tabbrowser/alltabs-box-bkgnd-icon.png);
    -moz-image-region: rect(2px, 19px, 18px, 3px);
    -moz-transform: rotate(180deg);
    padding: 0 0 0 16px; /* make sure the image has space and is centered */
}
#verticaltabs-alltabsbutton:hover {
    -moz-image-region: rect(2px, 41px, 18px, 25px);
}
#verticaltabs-alltabsbutton:hover:active {
    -moz-image-region: rect(2px, 63px, 18px, 47px);
}

/* Make Firefox's original status bar the same height */
#status-bar {
    height: 22px;
}


/*** Group related styles ***/

.tabbrowser-tab[verticaltabs-ingroup] {
    padding-left: 20px !important;
}

.tabbrowser-tab[verticaltabs-group] {
}

.tabbrowser-tab[verticaltabs-group] .tab-text {
    color: #738192 !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    text-shadow: 0 1px #ffffff !important;
}
.tabbrowser-tab[selected="true"][verticaltabs-group] .tab-text {
    color: #ffffff !important;
    text-shadow: 0 1px #404040 !important;
}

.verticaltabs-droptarget {
    border: 2px solid #577bf3 !important; /* not OSX's colour but Firefox's */
    background: #d0def5 !important;
    -moz-border-radius: 8px !important;
    /* TODO avoid increasing the overall height */
}

.verticaltabs-twisty {
    list-style-image: url("chrome://verticaltabs/skin/osx/twisty.png");
    opacity: 0.38;
    -moz-transition-property: -moz-transform; /* TODO bug 531344 */
    -moz-transition-duration: .1s;
}
.tabbrowser-tab[verticaltabs-collapsed="true"] .verticaltabs-twisty {
    -moz-transform: rotate(270deg);
}

.verticaltabs-twisty:active {
    opacity: 1.0;
}

.tabbrowser-tab[fadein]:not([pinned]) {
    -moz-transition-property: visibility, height, padding-left;
    -moz-transition-duration: .1s;
    -moz-transition-timing-function: ease-out;
}

.verticaltabs-collapsed {
    height: 0px !important;  /* animation shrinks height */
    visibility: collapse;
}
