@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Ensure the statuspanel doesn't overlap with the tabs toolbar */
statuspanel[mirror] {
    pointer-events: none;
}

statuspanel:-moz-locale-dir(rtl)[mirror],
statuspanel:-moz-locale-dir(ltr):not([mirror]) {
    position: relative !important;
    display: block;
}

statuspanel:-moz-locale-dir(rtl)[mirror] .statuspanel-inner,
statuspanel:-moz-locale-dir(ltr):not([mirror]) .statuspanel-inner {
    width: auto;
    max-width: 50%;
}

/* Style the scrollbox for vertical arrangements. */
.tabbrowser-arrowscrollbox > scrollbox {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

/* Since we get an actual scrollbar in this vertical arrangement, we
   don't need these extra scroll buttons. */
.tabbrowser-arrowscrollbox > .scrollbutton-up,
.tabbrowser-arrowscrollbox > .scrollbutton-down {
    visibility: collapse !important;
}

/* Ensure the tab favicon doesn't stretch. */
.tab-icon-image {
    max-width: 16px;
    max-height: 16px;
}

/* Hide the original tab toolbar buttons. */
.tabs-newtab-button {
    visibility: collapse;
}

/* Undo a bunch of stuff for app tabs */
.tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-tab[pinned] {
    position: inherit !important;
}
.tabbrowser-tab[pinned] > .tab-text {
    display: inherit;
}
.tab-label[pinned] {
    width: auto ! important;
}

/* Ensure the twisty image doesn't stretch. */
.verticaltabs-twisty-container {
    -moz-box-pack: start;
    -moz-box-align: center;
}

/* Collapse/expand animation */
.tabbrowser-tab[fadein]:not([pinned]) {
    -moz-transition-property: visibility, height, min-height, max-height, padding-left;
    -moz-transition-duration: .1s;
    -moz-transition-timing-function: ease-out;
}

.verticaltabs-collapsed {
    height: 0px !important;  /* animation shrinks height */
    min-height: 0px !important;
    max-height: 0px !important;
    visibility: collapse;
}

.tab-background {
    display: none ! important;
}

.tabbrowser-tab {
    pointer-events: auto ! important;
    min-width: 30px ! important;
    max-width: 100% ! important;
}

.tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox {
    -moz-padding-end: 0px ! important;
    -moz-padding-start: 0px ! important;
}

/* get rid of the tab separator from horizontal tabs */
.tabbrowser-tab:after,
.tabbrowser-tab:before {
  content: none !important;
}

/* Make room for the close/max/min button on the right of the window */
/* XXX this should probably be per-OS, yes? */
/* XXX if I was smarter I'd find a way to make a swoop on the right side of the bar, under the window buttons */
/* Maybe not - this conveniently leaves a hit target for dragging. */
/*#nav-bar {
  margin-right: 100px;
}*/

/* hide private browsing indicator in the vertical tab box */
#verticaltabs-box .private-browsing-indicator {
  display: none;
}
