@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/**
 * Variables for sizing, theming, animation, etc.
 * Prefix custom properties that are global to the window.
 * For other variables controlling the vertical tabs only,
 * see #verticaltabs-box
 */
:root {
  --vtabs-collapsed-width: 42px;
  /* default pinned width, gets overriden in JS */
  --vtabs-pinned-width: 260px;
  /* default expanded (= not pinned, but hovered) width */
  --vtabs-expanded-width: 260px;
}

#verticaltabs-box {
  /* Keep most custom properties local to the vertical tabs sidebar */
  --toolbar-height: 40px;
  --tab-height-compact: 36px;
  --tab-height-large: 56px;
  /* resolve to a single tab height (helps with animations) */
  --tab-height: var(--tab-height-compact);
  --toolbar-side-border: hsla(0, 0%, 0%, 0.15);
  --toolbar-bottom-border: hsla(0, 0%, 0%, 0.15);
  --toolbar-background: hsl(0, 0%, 97%);
  --searchbar-text-color: #000;
  --searchbar-background: #fff;
  --searchbar-border: hsla(0, 0%, 0%, 0.16);
  --searchbar-border-focus: Highlight;

  --tabs-side-border: hsla(0, 0%, 0%, 0.2);
  --tabs-background: hsl(0, 0%, 99%);
  --tab-border: hsla(0, 0%, 0%, 0.06);
  --tab-background: transparent;
  --tab-pinned-background: hsla(0, 0%, 0%, 0.04);
  --tab-hover-background: hsla(0, 0%, 0%, 0.08);
  --tab-selected-background: hsla(0, 0%, 0%, 0.12);
  --tab-text-color: black;
  --tab-text-color-selected: black;
  --tab-highlight: #0996f8;
  --tab-animation-time: 300ms;
  --tab-animation-halftime: 150ms;
}

/* Bigger tabs is almost as easy as increasing the var height
   (content will need some tweaking too) */
#verticaltabs-box .large-tabs {
  --tab-height: 56px;
}

/*** Animations ***/

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes slide-out {
  0% { max-height: var(--tab-height); min-height: var(--tab-height); opacity: 0; }
  100% { max-height: 0; min-height: 0; opacity: 0; }
}

@keyframes slide-fade-in {
  0% { max-height: 0; min-height: 0; opacity: 0; }
  50% { max-height: var(--tab-height); min-height: var(--tab-height); opacity: 0; }
  100% { max-height: var(--tab-height); min-height: var(--tab-height); opacity: 1; }
}

/*** Parents and siblings of vertical tabs container ***/

#browser {
  position: relative;
  height: 100vh;
}

#browser-border-start {
  display: none !important;
}

#verticaltabs-splitter {
  position: relative !important;
  z-index: 99 !important;
  display: none;
  margin-left: calc(var(--vtabs-pinned-width) - 3px);
  margin-right: -1px !important;
  max-width: 4px;
  min-width: 4px;
  width: 4px;
  background-color: transparent;
  cursor: ew-resize;
}

#main-window[tabspinned="true"] #verticaltabs-splitter {
  display: -moz-box;
}

#appcontent {
  top: 0;
  border-top: 1px solid rgb(160, 160, 160);
}

#sidebar-box,
#sidebar-box[hidden="true"] ~ #appcontent {
  margin-left: var(--vtabs-collapsed-width);
}

#main-window[tabspinned="true"] #sidebar-box,
#main-window[tabspinned="true"] #sidebar-box[hidden="true"] ~ #appcontent {
  margin-left: 0;
}

#main-window[chromehidden*="toolbar"] #appcontent,
#main-window[chromehidden*="toolbar"] #sidebar-box[hidden="true"] ~ #appcontent {
  margin-left: 0;
}

#main-window[inFullscreen][inDOMFullscreen] #appcontent {
  margin-left: 0 !important;
}

#navigator-toolbox,
.browserContainer {
  width: calc(100vw - var(--vtabs-collapsed-width));
}

#main-window[tabspinned="true"] #verticaltabs-box + #appcontent #navigator-toolbox,
#main-window[tabspinned="true"] #verticaltabs-box + #appcontent .browserContainer {
  width: calc(100vw - var(--vtabs-pinned-width));
}

#main-window[inFullscreen][inDOMFullscreen] .browserContainer {
  width: 100vw !important;
}

#main-window[inFullscreen][inDOMFullscreen] .browserContainer {
  margin-top: -1px;
}

/*** Main container ***/

#verticaltabs-box {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  width: var(--vtabs-collapsed-width);
  height: 100vh;
  overflow-x: hidden;
  background: transparent !important;
  background-origin: border-box !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0), inset 0 0 10px hsla(0, 0%, 0%, 0.2);
  flex-direction: column;
  transition: box-shadow 150ms ease-out, width 150ms ease-out;
}

#verticaltabs-box[expanded="true"],
#verticaltabs-box[search_expanded="true"] {
  width: var(--vtabs-expanded-width);
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1), inset 0 0 10px hsla(0, 0%, 0%, 0);
}

/*** Tabs Toolbar ***/

#TabsToolbar {
  position: relative;
  display: flex;
  margin: 0 !important;
  /* A top/bottom border will take space and misalign the buttons -> use ::after (not box-shadow, already used for some effects) */
  border: none !important;
  border-right: 1px solid var(--toolbar-side-border) !important;
  padding: 0 4px !important;
  align-items: center;
  -moz-appearance: none !important;
  background-color: var(--toolbar-background);
  flex: 0 0 var(--toolbar-height);
}

#TabsToolbar::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid var(--toolbar-bottom-border);
  content: "";
}

#TabsToolbar > toolbarbutton:not(#pin-button):not(#new-tab-button):not(#top-tabs-button),
#TabsToolbar > toolbaritem {
  display: none;
}

#TabsToolbar > toolbarbutton {
  border: 1px solid transparent;
  box-sizing: border-box;
  height: 24px;
  min-height: 24px;
  min-width: 28px;
  margin: 0 2px;
  padding: 0 4px;
  border-radius: 3px;
  -moz-appearance: none;
  background-image: none;
  transition-duration: 250ms;
  transition-property: background, border-color;
}

/* We use 50% gray icons (#808080) with a filter to get any grayscale
   value we want, from a single image:
   brightness(0)    = #000000
   brightness(0.6)  = #4d4d4d
   brightness(1)    = #808080
   brightness(1.85) = #ededed
   brightness(2)    = #ffffff
*/
#TabsToolbar .toolbarbutton-icon {
  filter: brightness(0.6) drop-shadow(0 1px hsla(0, 0%, 100%, 0.25));
}

#TabsToolbar toolbarbutton:hover:active .toolbarbutton-icon {
  filter: brightness(0.4) drop-shadow(0 1px hsla(0, 0%, 100%, 0.25));
}

#TabsToolbar:-moz-lwtheme-brighttext .toolbarbutton-icon {
  filter: brightness(1.85) drop-shadow(0 0.75px 0.5px hsla(0, 0%, 0%, 0.6));
}

#TabsToolbar:-moz-lwtheme-brighttext toolbarbutton:hover:active .toolbarbutton-icon {
  filter: brightness(1.5) drop-shadow(0 0.75px 0.5px hsla(0, 0%, 0%, 0.6));
}

#TabsToolbar > toolbarbutton:hover {
  border-color: var(--toolbarbutton-hover-bordercolor);
  background: var(--toolbarbutton-hover-background);
  box-shadow: var(--toolbarbutton-hover-boxshadow);
}

#TabsToolbar > toolbarbutton:hover:active,
#TabsToolbar > toolbarbutton[open="true"] {
  border-color: var(--toolbarbutton-active-bordercolor);
  background: var(--toolbarbutton-active-background);
  box-shadow: var(--toolbarbutton-active-boxshadow);
  transition-duration: 10ms;
}

#TabsToolbar > #new-tab-button {
  width: auto !important;
  /* account for the icon's margin */
  min-width: 30px !important;
  margin-right: 4px !important;
  flex: 0 20 auto;
  justify-content: flex-start;
  list-style-image: url("resource://tabcenter/skin/glyph-new-16.svg") !important;
}

#TabsToolbar #new-tab-button .toolbarbutton-icon {
  margin: 0 2px !important;
  padding: 0 !important;
}

#TabsToolbar #new-tab-button .toolbarbutton-text {
  display: inline-block !important;
  margin: 0 1px !important;
  padding: 0 !important;
}

#TabsToolbar #new-tab-spacer {
  flex: 20 0 auto;
}

.tab-content[pinned][titlechanged]:not([visuallyselected="true"]) {
  background-image: none !important;
}

.tabbrowser-tab:-moz-any([image], [pinned]) > .tab-stack > .tab-content[attention]:not([visuallyselected="true"]),
.tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged]:not([visuallyselected="true"]) {
  background-image: url("resource://tabcenter/skin/glyph-notification-circle-16.svg") !important;
  background-position: -8px center !important;
  background-repeat: no-repeat !important;
  background-size: 16px !important;
}

#TabsToolbar > #top-tabs-button {
  -moz-box-flex: 0;
  list-style-image: url("resource://tabcenter/skin/glyph-tabs-top-16.svg") !important;
}

#TabsToolbar > #pin-button {
  z-index: 1;
  -moz-box-flex: 0;
  list-style-image: url("resource://tabcenter/skin/glyph-sidebar-expand-16.svg") !important;
}

#TabsToolbar #find-input {
  display: flex;
  /* trying to get 6px empty space on each side, given that buttons
     have 2px margins except the new tab button (4px) */
  margin: 0 4px 0 2px !important;
  padding: 0 !important;
  height: 24px;
  min-height: 0 !important;
  min-width: 45px !important;
  border: 1px solid var(--searchbar-border) !important;
  border-radius: 1px !important;
  overflow: -moz-hidden-unscrollable;
  align-items: center;
  background-color: var(--searchbar-background);
  color: var(--searchbar-text-color);
  flex: 20 0 auto;
  line-height: 26px;
  transition-duration: 100ms;
  transition-property: border-color, box-shadow;
}

#TabsToolbar #find-input[focused="true"] {
  width: calc(100% - 108px) !important;
  border: 1px solid var(--searchbar-border-focus) !important;
  box-shadow: 0 0 0 1px Highlight inset;
}

#TabsToolbar #tabs-search {
  display: block;
  min-width: 18px;
  max-width: 18px;
  margin-left: 2px;
  filter: brightness(0.8);
  list-style-image: url("resource://tabcenter/skin/glyph-find-18.svg");
}

#TabsToolbar #find-input html|*.textbox-input {
  max-width: 100% !important;
}

#TabsToolbar .textbox-input-box {
  display: block;
  max-width: calc(100% - 20px);
}

#verticaltabs-box:not([expanded="true"]):not([search_expanded="true"]) #find-input {
  visibility: collapse !important;
}

#verticaltabs-box:not([expanded="true"]):not([search_expanded="true"]) #new-tab-spacer {
  visibility: visible !important;
}

#main-window[tabspinned="true"] #verticaltabs-box #pin-button {
  list-style-image: url("resource://tabcenter/skin/glyph-sidebar-collapse-16.svg") !important;
}

#main-window:not([tabspinned="true"])
#verticaltabs-box:not([expanded="true"]):not([search_expanded="true"]) #pin-button {
  opacity: 0;
}

/*** Tabs Container ***/

.tabbrowser-tabs {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
  border-top: none !important;
  border-right: 1px solid var(--tabs-side-border) !important;
  background-color: var(--tabs-background) !important;
  flex: 1 0;
}

/* Small outline for keyboard users.
   The child tab elements get the :focus when tabbed to from
   the toolbars, but not when clicking or when using keyboard
   shortcuts such as Ctrl+1.
   Using the same outline as content windows. */
.tabbrowser-tabs:focus-within::after {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: dotted 1px;
  content: "";
}

#tabbrowser-tabs::before,
#tabbrowser-tabs + hbox,
#tabbrowser-tabs > hbox {
  display: none !important;
}

/* hide private browsing indicator in the vertical tab box */
#verticaltabs-box .private-browsing-indicator,
#verticaltabs-box #private-browsing-indicator {
  display: none !important;
}

/*** Scroll box ***/

.tabbrowser-arrowscrollbox {
  flex: 1 0;
}

.tabbrowser-arrowscrollbox > scrollbox {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

#tabbrowser-tabs[mouseInside] .tabbrowser-arrowscrollbox > scrollbox {
  overflow-y: auto !important;
}

.tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox {
  -moz-padding-end: 0 !important;
  -moz-padding-start: 0 !important;
}

.tabbrowser-arrowscrollbox .scrollbutton-up,
.tabbrowser-arrowscrollbox .scrollbutton-down {
  visibility: collapse !important;
}

/*** Tab element (container and decoration) ***/

.tabbrowser-tab {
  position: relative !important;
  z-index: 1;
  width: 260px !important;
  max-width: 100% !important;
  max-height: var(--tab-height);
  min-height: var(--tab-height);
  margin: -1px 0 0 !important;
  border: solid var(--tab-border) !important;
  border-width: 1px 0 !important;
  border-radius: 0 !important;
  /* Main opaque background */
  -moz-appearance: none !important;
  background: var(--tabs-background) !important;
  -moz-box-flex: 0;
  -moz-box-pack: start;
  color: var(--tab-text-color) !important;
  pointer-events: auto !important;
}

#main-window[tabspinned="true"] .tabbrowser-tab {
  width: var(--vtabs-pinned-width) !important;
}

.tabbrowser-tab.tab-hidden {
  animation:
    var(--tab-animation-halftime) fade-out,
    var(--tab-animation-halftime) var(--tab-animation-halftime) slide-out;
}

.tabbrowser-tab.tab-visible {
  animation: var(--tab-animation-time) slide-fade-in;
}

/* keep the order of [pinned] then [selected] */
.tabbrowser-tab[pinned] {
  z-index: 2;
  background-color: var(--tab-pinned-background) !important;
}

.tabbrowser-tab:hover {
  z-index: 3;
}

.tabbrowser-tab[selected="true"] {
  z-index: 4;
  background-color: var(--tab-selected-background) !important;
  color: var(--tab-text-color-selected) !important;
  text-shadow: none;
}

.tabbrowser-tab:not([selected="true"]):hover {
  background-color: var(--tab-hover-background) !important;
}

#filler-tab {
  /* always use the compact height */
  height: var(--tab-height-compact);
  width: var(--vtabs-pinned-width);
  color: var(--tab-text-color);
}

#filler-tab:hover {
  background-color: var(--tab-hover-background);
}

#filler-tab label {
  -moz-margin-start: 31px !important;
  font: message-box;
  text-shadow: none;
}

/* Drop indicator for drag'n'drop of tabs - Works OOTB(TM)- Just needs a margin. */
.tab-drop-indicator {
  margin-top: -11px !important;
  margin-bottom: 0 !important;
}

/* Tab background overlay */
.tabbrowser-tab .tab-content {
  background: var(--tab-background) !important;
}

/* Use the Container color if available */
.tabbrowser-tab[usercontextid] {
  --tab-highlight: var(--identity-tab-color);
}

/* Reduce border opacity for darker tabs */
.tabbrowser-tab:hover,
.tabbrowser-tab[pinned],
.tabbrowser-tab[visuallyselected="true"] {
  --tab-border: hsla(0, 0%, 0%, 0.04);
}

/* Get rid of the tab separator from horizontal tabs */
.tabbrowser-tab::before,
.tabbrowser-tab::after {
  content: none !important;
}

/* Hide background elements (from horizontal rounded tabs) */
.tab-background {
  display: none !important;
}

.tab-content {
  min-height: var(--tab-height);
  max-height: var(--tab-height);
  margin: 0 !important;
  padding: 0 !important;
}

/*** Tab content: image and icons ***/

/* Image and icon container */
.tab-meta-image {
  margin-left: 10px;
  margin-right: 6px;
}

.tabbrowser-tabs.large-tabs .tab-meta-image {
  position: relative;
  max-width: 54px;
  max-height: 40px;
  min-width: 54px;
  min-height: 40px;
  border: 2px solid white;
  margin-left: 12px;
  margin-right: 6px;
  background-color: transparent;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  box-shadow:
    0 0 2px 2px hsla(0, 0%, 0%, 0.02),
    0 2px 0 hsla(0, 0%, 0%, 0.05),
    0 0 0 1px hsla(0, 0%, 0%, 0.2);
}

.tabbrowser-tabs.large-tabs .tab-throbber,
.tabbrowser-tabs.large-tabs .tab-icon-image {
  margin-top: 18px !important;
  margin-left: -2px !important;
  border-radius: 2px;
  background-color: #fff !important;
  box-shadow:
    0 0 2px hsla(0, 0%, 0%, 0.08),
    0 0 0 1px hsla(0, 0%, 0%, 0.08);
}

.tabbrowser-tabs.large-tabs .tab-meta-image html|canvas {
  position: absolute;
  z-index: -1;
  top: -2px;
  left: -2px;
  width: 54px;
  height: 40px;
  background: url("resource://tabcenter/skin/tab-blank.svg");
  background-color: #f6f6f6;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 54px 40px;
}

.tabbrowser-tabs:not(.large-tabs) .tab-meta-image html|canvas {
  display: none;
}

.tab-throbber,
.tab-icon-image {
  display: -moz-box !important;
  min-width: 20px !important;
  min-height: 20px !important;
  max-width: 20px !important;
  max-height: 20px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 2px;
  opacity: 1 !important;
}

.tab-throbber,
.tabbrowser-tab[busy] .tab-icon-image {
  display: none !important;
}

.tabbrowser-tab[busy] .tab-throbber {
  display: -moz-box !important;
}

/*** Tab content: text ***/

.tabbrowser-tab .title-wrapper {
  padding: 0 !important;
}

.tabbrowser-tab .tab-text {
  margin: 0 !important;
  margin-right: 8px !important;
}

.tabbrowser-tab[pinned] .tab-text {
  margin-right: 0 !important;
}

.tabbrowser-tab .address-label {
  display: none;
  opacity: 0.6;
}

.tabbrowser-tabs.large-tabs .address-label {
  display: -moz-box;
}

/* If not selected, tab text should be more discrete */
.tabbrowser-tab:not([visuallyselected="true"]) .tab-text {
  opacity: 0.8;
}

.tabbrowser-tab:not([visuallyselected="true"]) .address-label {
  opacity: 0.5;
}

/*** Tab content: buttons and indicators ***/

/* Blue indicator on selected tab (can be a different color for container tabs) */
.tab-selection-indicator {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: 0;
  width: 6px;
  background-image:
    linear-gradient(to right, #0003, #0000 20%, #fff0 50%, #fff3),
    linear-gradient(to right, var(--tab-highlight), var(--tab-highlight));
  background-position: 0 0;
  background-size: 100%;
  opacity: 1;
  transform: translateX(-6px);
  transition: transform var(--tab-animation-halftime), opacity 200ms;
}

.tabbrowser-tab[selected="true"] .tab-selection-indicator {
  transform: translateX(0);
}

.tabbrowser-tab[pinned] .tab-close-button,
.tabbrowser-tab:not(:hover)[pinned] .tab-close-button {
  visibility: hidden !important;
}

.tabbrowser-tab[pinned] .pinned-icon {
  background-image: url("resource://tabcenter/skin/glyph-pin-pinned-12.svg") !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: 12px !important;
  filter: brightness(0) opacity(0.5);
}

.tabbrowser-tab:not([pinned]) .pinned-icon {
  visibility: hidden !important;
}

.tabbrowser-tab:not(:hover) .tab-close-button {
  visibility: collapse !important;
}

/* Keep the close button at a safe distance from the tab label. */
.tab-close-button {
  display: -moz-box !important;
  width: 24px !important;
  height: 24px !important;
  margin: 0 6px !important;
  border-radius: 100%;
  background-color: hsla(0, 0%, 0%, 0.1) !important;
  background-image: url("resource://tabcenter/skin/glyph-close-16.svg") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 16px;
  opacity: 0 !important;
}

.tabbrowser-tab:hover .tab-close-button {
  opacity: 1 !important;
}

.tab-close-button:hover {
  background-color: hsla(0, 0%, 0%, 0.16) !important;
}

.tab-close-button:hover:active {
  background-color: hsla(0, 0%, 0%, 0.2) !important;
}

.tab-close-button > .toolbarbutton-icon {
  display: none;
}

.tab-stack {
  position: relative;
  min-height: 28px;
  text-shadow: none;
}

.tab-icon-sound {
  display: none;
}

.tab-icon-overlay[muted],
.tab-icon-overlay[soundplaying] {
  display: -moz-box !important;
  margin-top: -14px !important;
  margin-inline-start: -30px !important;
  margin-inline-end: 14px !important;
  border: 1px solid hsla(0, 0%, 0%, 0.2);
  background-clip: padding-box;
  background-color: white !important;
  box-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.5) !important;
}

.tabbrowser-tabs.large-tabs .tab-icon-overlay[muted],
.tabbrowser-tabs.large-tabs .tab-icon-overlay[soundplaying] {
  margin-inline-start: -64px !important;
  margin-inline-end: 48px !important;
  margin-top: -32px !important;
}

/*** opentabstop option ***/

#tabbrowser-tabs[opentabstop] .tabbrowser-arrowscrollbox .scrollbox-innerbox {
  -moz-box-direction: reverse;
  -moz-box-pack: end;
}

#tabbrowser-tabs[opentabstop] #filler-tab {
  -moz-box-ordinal-group: 0;
}

/*** Print Preview ***/

#main-window[printPreview] #appcontent {
  width: 100vw !important;
  margin-left: 0 !important;
}

#main-window[printPreview] #verticaltabs-box {
  width: 0 !important;
}

#main-window[printPreview] #verticaltabs-splitter {
  width: 0 !important;
  margin-left: 0 !important;
  min-width: 0 !important;
  max-width: 0 !important;
}

/*** Fullscreen ***/

#main-window[F11-fullscreen] #verticaltabs-box {
  width: 1px !important;
  transition: none;
}

#main-window[F11-fullscreen] #verticaltabs-box:hover {
  width: var(--vtabs-pinned-width) !important;
}

#main-window[F11-fullscreen] #sidebar-box,
#main-window[F11-fullscreen] #sidebar-box[hidden="true"] ~ #appcontent {
  width: calc(100vw - 1px) !important;
  margin-left: 1px !important;
  transition: margin-left 500ms linear;
}

#main-window[tabspinned="true"] #verticaltabs-box {
  width: var(--vtabs-pinned-width);
  box-shadow: none;
  transition: box-shadow 0ms ease-in-out;
}

#main-window[tabspinned="true"][F11-fullscreen] #verticaltabs-splitter {
  width: 0 !important;
  margin-left: 0 !important;
  min-width: 0 !important;
  max-width: 0 !important;
  transition: margin-left 500ms linear;
}

#main-window[inFullscreen][inDOMFullscreen] #verticaltabs-box,
#main-window[inFullscreen][inDOMFullscreen] #verticaltabs-splitter {
  visibility: collapse;
}

/* [inDOMFullscreen] for video */
#main-window[inFullscreen][inDOMFullscreen] #find-input {
  display: none;
}
