@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

:root {
  --collapsed-width: 45px;
  --pinned-width: 260px;
  --link-color: graytext;
  --link-color-brighttext: hsl(0, 0%, 60%);
  --tab-highlight-color: #1aa1ff;
}

.tabbrowser-arrowscrollbox > scrollbox {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

#tabbrowser-tabs[mouseInside] .tabbrowser-arrowscrollbox > scrollbox {
  overflow-y: auto !important;
}

.tabbrowser-arrowscrollbox .scrollbutton-up,
.tabbrowser-arrowscrollbox .scrollbutton-down {
  visibility: collapse !important;
}

/* Ensure the tab favicon doesn't stretch. */
.tab-icon-image {
  max-width: 16px;
  max-height: 16px;
}

/* Hide the original tab toolbar buttons. */
.tabs-newtab-button {
  visibility: collapse;
}

/* Undo a bunch of stuff for app tabs */
.tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-tab[pinned] {
  position: inherit !important;
}

.tabbrowser-tab[pinned] > .tab-text {
  display: inherit;
}

.tab-label[pinned] {
  width: auto !important;
}

/* Ensure the twisty image doesn't stretch. */
.verticaltabs-twisty-container {
  -moz-box-align: center;
  -moz-box-pack: start;
}

.verticaltabs-collapsed {
  height: 0 !important;  /* animation shrinks height */
  min-height: 0 !important;
  max-height: 0 !important;
  visibility: collapse;
}

.tab-background {
  display: none !important;
}

.tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox {
  -moz-padding-end: 0 !important;
  -moz-padding-start: 0 !important;
}

/* get rid of the tab separator from horizontal tabs */
.tabbrowser-tab::after,
.tabbrowser-tab::before {
  content: none !important;
}

/* Make room for the close/max/min button on the right of the window */
/* XXX this should probably be per-OS, yes? */
/* XXX if I was smarter I'd find a way to make a swoop on the right side of the bar, under the window buttons */
/* Maybe not - this conveniently leaves a hit target for dragging. */
/*#nav-bar {
  margin-right: 100px;
}*/

/* hide private browsing indicator in the vertical tab box */
#verticaltabs-box .private-browsing-indicator,
#verticaltabs-box #private-browsing-indicator {
  display: none !important;
}

.tabs-newtab-button,
#TabsToolbar > #new-tab-button,
#TabsToolbar > toolbarpaletteitem > #new-tab-button {
  list-style-image: url("resource://tabcenter/skin/glyph-new-16.svg") !important;
}

#main-window[brighttext] #TabsToolbar .tabs-newtab-button,
#main-window[brighttext] #TabsToolbar > #new-tab-button,
#main-window[brighttext] #TabsToolbar > toolbarpaletteitem > #new-tab-button {
  list-style-image: url("resource://tabcenter/skin/glyph-new-inverted-16.svg") !important;
}

#main-window[privatebrowsingmode="temporary"] #titlebar-buttonbox-container {
  margin-top: 4px;
}

.tabbrowser-tabs {
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
  border-top: none !important;
  flex: 1 0;
}

.tabbrowser-arrowscrollbox {
  flex: 1 0;
}

#tabbrowser-tabs::before,
#tabbrowser-tabs + hbox,
#tabbrowser-tabs > hbox {
  display: none !important;
}

#browser {
  position: relative;
  height: 100vh;
}

#verticaltabs-box {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: var(--collapsed-width);
  height: 100vh;
  border-right: 1px solid hsla(0, 0%, 0%, 0.2) !important;
  border-top: 1px solid hsla(0, 0%, 0%, 0.2) !important;
  display: flex;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 99%) !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0), inset 0 0 10px hsla(0, 0%, 0%, 0.2);
  flex-direction: column;
  transition: box-shadow 150ms ease-out, width 150ms ease-out;
}

#main-window[printPreview] #appcontent {
  width: 100vw !important;
  margin-left: 0 !important;
}

#main-window[printPreview] #verticaltabs-box {
  width: 0 !important;
}

#main-window[printPreview] #verticaltabs-splitter {
  width: 0 !important;
  margin-left: 0 !important;
  min-width: 0 !important;
  max-width: 0 !important;
}

#main-window[F11-fullscreen] #verticaltabs-box {
  width: 1px !important;
  transition: none;
}

#main-window[F11-fullscreen] #verticaltabs-box:hover {
  width: var(--pinned-width) !important;
}

#main-window[F11-fullscreen] #sidebar-box,
#main-window[F11-fullscreen] #sidebar-box[hidden="true"] ~ #appcontent {
  width: (100vw - 1px) !important;
  margin-left: 1px !important;
  transition: margin-left 500ms linear;
}

#main-window[tabspinned="true"][F11-fullscreen] #verticaltabs-splitter {
  width: 0 !important;
  margin-left: 0 !important;
  min-width: 0 !important;
  max-width: 0 !important;
  transition: margin-left 500ms linear;
}

#main-window[brighttext] #verticaltabs-box {
  background-color: hsla(0, 0%, 20%, 0.98) !important;
}

#main-window[inFullscreen][inDOMFullscreen] #verticaltabs-box,
#main-window[inFullscreen][inDOMFullscreen] #verticaltabs-splitter {
  visibility: collapse;
}

#verticaltabs-box[expanded="true"],
#verticaltabs-box[search_expanded="true"] {
  width: 260px;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1), inset 0 0 10px hsla(0, 0%, 0%, 0);
}

#browser-border-start {
  display: none !important;
}

#verticaltabs-splitter {
  position: relative !important;
  z-index: 99 !important;
  display: none;
  margin-left: calc(var(--pinned-width) - 3px);
  margin-right: -1px !important;
  max-width: 4px;
  min-width: 4px;
  width: 4px;
  background-color: transparent;
  cursor: ew-resize;
}

#main-window[tabspinned="true"] #verticaltabs-splitter {
  display: -moz-box;
}

#main-window[tabspinned="true"] #verticaltabs-box {
  width: var(--pinned-width);
  box-shadow: none;
  transition: box-shadow 0ms ease-in-out;
}

#alltabs-button {
  visibility: hidden;
}

#verticaltabs-box #TabsToolbar > #top-tabs-button {
  width: 32px;
  min-width: 32px;
  margin-right: 0;
  margin-left: 4px;
  background-image: url("resource://tabcenter/skin/tc-top.svg") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  -moz-box-flex: 0;
}

#main-window[brighttext] #verticaltabs-box #TabsToolbar > #top-tabs-button {
  background-image: url("resource://tabcenter/skin/tc-top-white.svg") !important;
}

#verticaltabs-box #TabsToolbar > #pin-button {
  z-index: 1;
  width: 32px;
  min-width: 32px;
  margin: 0 8px 0 4px !important;
  background-image: url("resource://tabcenter/skin/glyph-sidebar-expand-16.svg") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  -moz-box-flex: 0;
  transition: opacity 125ms ease-in-out 300ms;
}

#TabsToolbar > #find-tabs-button {
  width: 40px;
  margin: 0 !important;
  border: none !important;
  display: -moz-box;
}

#TabsToolbar > #find-tabs-button > .toolbarbutton-text {
  display: -moz-box;
}

#TabsToolbar > #find-tabs-button > .toolbarbutton-icon {
  display: none;
}

#TabsToolbar #find-input {
  display: flex;
  margin: 0 4px !important;
  padding: 0 !important;
  height: 26px;
  min-height: auto !important;
  min-width: 45px !important;
  border: 1px solid hsla(0, 0%, 0%, 0.16) !important;
  border-radius: 1px !important;
  overflow: -moz-hidden-unscrollable;
  align-items: center;
  flex: 20 0 auto;
  line-height: 26px;
  transition-duration: 0.1s;
  transition-property: border-color, box-shadow;
}

#TabsToolbar #find-input[focused="true"] {
  width: calc(100% - 126px) !important;
  border: 1px solid Highlight !important;
  box-shadow: 0 0 0 1px Highlight inset;
}

#tabs-search {
  display: block;
  min-width: 20px;
  max-width: 20px;
  -moz-image-region: rect(0, 20px, 20px, 0);
  list-style-image: url("resource://tabcenter/skin/find.svg");
}

#find-input html|*.textbox-input {
  max-width: 100% !important;
}

#find-input .textbox-input-box {
  display: block;
  max-width: calc(100% - 20px);
}

/* [inDOMFullscreen] for video */
#main-window[inFullscreen][inDOMFullscreen] #find-input {
  display: none;
}

#verticaltabs-box:not([expanded="true"]):not([search_expanded="true"]) #find-input {
  visibility: collapse !important;
}

#verticaltabs-box:not([expanded="true"]):not([search_expanded="true"]) #new-tab-spacer {
  visibility: visible !important;
}

#main-window[tabspinned="true"] #verticaltabs-box #pin-button {
  background-image: url("resource://tabcenter/skin/glyph-sidebar-collapse-16.svg") !important;
}

#main-window[brighttext] #TabsToolbar #pin-button {
  background-image: url("resource://tabcenter/skin/glyph-sidebar-expand-inverted-16.svg") !important;
}

#main-window[tabspinned="true"][brighttext] #TabsToolbar #pin-button {
  background-image: url("resource://tabcenter/skin/glyph-sidebar-collapse-inverted-16.svg") !important;
}

#main-window:not([tabspinned="true"])
#verticaltabs-box:not([expanded="true"]):not([search_expanded="true"]) #pin-button {
  opacity: 0;
}

#appcontent {
  top: 0;
  border-top: 1px solid rgb(160, 160, 160);
}

#sidebar-box,
#sidebar-box[hidden="true"] ~ #appcontent {
  margin-left: var(--collapsed-width);
}

#main-window[tabspinned="true"] #sidebar-box,
#main-window[tabspinned="true"] #sidebar-box[hidden="true"] ~ #appcontent {
  margin-left: 0;
}

#main-window[chromehidden*="toolbar"] #appcontent,
#main-window[chromehidden*="toolbar"] #sidebar-box[hidden="true"] ~ #appcontent {
  margin-left: 0;
}

#main-window[inFullscreen][inDOMFullscreen] #appcontent {
  margin-left: 0 !important;
}

#navigator-toolbox,
.browserContainer {
  width: calc(100vw - var(--collapsed-width));
}

#main-window[tabspinned="true"] #verticaltabs-box + #appcontent #navigator-toolbox,
#main-window[tabspinned="true"] #verticaltabs-box + #appcontent .browserContainer {
  width: calc(100vw - var(--pinned-width));
}

#main-window[inFullscreen][inDOMFullscreen] .browserContainer {
  width: 100vw !important;
}

#main-window[inFullscreen][inDOMFullscreen] .browserContainer {
  margin-top: -1px;
}

.tabbrowser-tab {
  position: relative;
  width: 260px !important;
  max-width: 100% !important;
  max-height: 36px;
  min-height: 36px;
  margin: 0 !important;
  margin-bottom: -1px !important;
  border: 0 !important;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.06) !important;
  border-radius: 0 !important;
  -moz-appearance: none !important;
  background: transparent !important;
  -moz-box-flex: 0;
  -moz-box-pack: start;
  color: #000 !important;
  pointer-events: auto !important;
}

.tabbrowser-tabs.large-tabs .tab-content,
.tabbrowser-tabs.large-tabs .tabbrowser-tab {
  max-height: 56px;
  min-height: 56px;
}

.title-wrapper {
  padding: 0 !important;
}

.title-wrapper .tab-text {
  margin: 0 !important;
  margin-right: 8px !important;
  font-weight: 600;
  opacity: 0.7;
}

.tabbrowser-tab[pinned] .title-wrapper .tab-text {
  margin-right: 0 !important;
}

.title-wrapper .address-label {
  display: none;
  color: var(--link-color);
  font-weight: 400;
  opacity: 0.7;
}

.title-wrapper .tab-text[visuallyselected="true"],
.title-wrapper .address-label[visuallyselected="true"] {
  opacity: 1;
}

.tabbrowser-tabs.large-tabs .title-wrapper .address-label {
  display: -moz-box;
}

#main-window[tabspinned="true"] .tabbrowser-tab {
  width: var(--pinned-width) !important;
}

.tabbrowser-tab.tab-hidden {
  animation: 300ms tab-fade-out;
}

.tabbrowser-tab.tab-visible {
  animation: 300ms tab-fade-in;
}

.large-tabs .tabbrowser-tab.tab-hidden {
  animation: 300ms large-tab-fade-out;
}

.large-tabs .tabbrowser-tab.tab-visible {
  animation: 300ms large-tab-fade-in;
}

/* there is a visual jump if we do not collapse the tab content before the end of the animation */
.tabbrowser-tab.tab-hidden .tab-stack {
  transition: visibility 150ms 0ms;
  visibility: collapse;
}

#filler-tab {
  height: 36px;
  width: var(--pinned-width);
}

#filler-tab:hover {
  background-color: #ebebeb;
}

#main-window[brighttext] #verticaltabs-box #filler-tab:hover {
  background-color: #3c4146 !important;
}

#filler-tab label {
  -moz-margin-start: 31px !important;
  font: message-box;
  text-shadow: none;
}

@keyframes tab-fade-out {
  0% { max-height: 36px; min-height: 36px; opacity: 1; }
  50% { max-height: 36px; min-height: 36px; opacity: 0; }
  100% { max-height: 0; min-height: 0; opacity: 0; }
}

@keyframes tab-fade-in {
  0% { max-height: 0; min-height: 0; opacity: 0; }
  50% { max-height: 36px; min-height: 36px; opacity: 0; }
  100% { max-height: 36px; min-height: 36px; opacity: 1; }
}

@keyframes large-tab-fade-out {
  0% { max-height: 56px; min-height: 56px; opacity: 1; }
  50% { max-height: 56px; min-height: 56px; opacity: 0; }
  100% { max-height: 0; min-height: 0; opacity: 0; }
}

@keyframes large-tab-fade-in {
  0% { max-height: 0; min-height: 0; opacity: 0; }
  50% { max-height: 56px; min-height: 56px; opacity: 0; }
  100% { max-height: 56px; min-height: 56px; opacity: 1; }
}

.tabbrowser-tab[pinned][selected="true"],
.tabbrowser-tab[selected="true"] {
  border-radius: 0 !important;
  background-color: hsla(0, 0%, 0%, 0.12) !important;
  text-shadow: none;
}

.tabbrowser-tab[pinned] {
  background-color: hsla(0, 0%, 0%, 0.05) !important;
}

#main-window[brighttext] #verticaltabs-box .tabbrowser-tab[pinned] {
  background-color: hsla(0, 0%, 0%, 0.2) !important;
}

.tabbrowser-tab:not([selected="true"]):hover {
  background-color: hsla(0, 0%, 0%, 0.08) !important;
}

.tabbrowser-tab[pinned] .tab-close-button,
.tabbrowser-tab:not(:hover)[pinned] .tab-close-button {
  visibility: hidden !important;
}

.tabbrowser-tab[pinned] .pinned-icon {
  background-image: url("resource://tabcenter/skin/glyph-pin-pinned-12.svg") !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: 12px !important;
}

#main-window[brighttext] .tabbrowser-tab[pinned] .pinned-icon {
  background-image: url("resource://tabcenter/skin/glyph-pin-pinned-inverted-12.svg") !important;
}

.tabbrowser-tab:not([pinned]) .pinned-icon {
  visibility: hidden !important;
}

.tabbrowser-tab:not(:hover) .tab-close-button {
  visibility: collapse !important;
}

.tab-stack {
  position: relative;
  min-height: 28px;
  text-shadow: none;
}

/* dark theme colour overrides */

#main-window[brighttext] #verticaltabs-box .tabbrowser-tab {
  color: #fff !important;
}

#main-window[brighttext] #verticaltabs-box .title-wrapper .address-label {
  color: var(--link-color-brighttext);
}

#main-window[brighttext] #verticaltabs-box .tabbrowser-tab[selected="true"] {
  background-color: hsla(0, 0%, 100%, 0.1) !important;
}

#main-window[brighttext] #verticaltabs-box .tabbrowser-tab:not([selected="true"]):hover {
  background-color: hsla(0, 0%, 100%, 0.06) !important;
}

.tab-icon-sound {
  display: none;
}

.tab-icon-overlay[muted],
.tab-icon-overlay[soundplaying] {
  display: -moz-box !important;
  margin-top: -14px !important;
  margin-inline-start: -30px !important;
  margin-inline-end: 14px !important;
  border: 1px solid hsla(0, 0%, 0%, 0.2);
  background-clip: padding-box;
  background-color: white !important;
  box-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.5) !important;
}

.tabbrowser-tabs.large-tabs .tab-icon-overlay[muted],
.tabbrowser-tabs.large-tabs .tab-icon-overlay[soundplaying] {
  margin-inline-start: -64px !important;
  margin-inline-end: 48px !important;
  margin-top: -32px !important;
}

/* Keep the close button at a safe distance from the tab label. */
.tab-close-button {
  display: -moz-box !important;
  width: 24px !important;
  height: 24px !important;
  margin: 0 6px !important;
  border-radius: 100%;
  background-color: hsla(0, 0%, 0%, 0.1) !important;
  background-image: url("resource://tabcenter/skin/glyph-close-16.svg") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 16px;
  opacity: 0 !important;
}

#main-window[brighttext] #verticaltabs-box .tab-close-button {
  background-image: url("resource://tabcenter/skin/glyph-close-inverted-16.svg") !important;
}

.tabbrowser-tab:hover .tab-close-button {
  opacity: 1 !important;
}

.tab-close-button:hover {
  background-color: hsla(0, 0%, 0%, 0.16) !important;
}

.tab-close-button:hover:active {
  background-color: hsla(0, 0%, 0%, 0.2) !important;
}

.tab-close-button > .toolbarbutton-icon {
  display: none;
}

.tab-content {
  min-height: 36px;
  max-height: 36px;
  margin: 0 !important;
  padding: 0 !important;
}

.tab-selected-indicator {
  display: block;
  height: 36px;
  width: 6px;
  /* cover the tab's bottom border */
  margin-bottom: -1px;
  /* solid color, darkened on the left */
  background-image:
    linear-gradient(to right, hsla(0, 0%, 0%, 0.25) 17%, hsla(0, 0%, 0%, 0.1) 17%, transparent 67%),
    linear-gradient(to right, var(--tab-highlight-color), var(--tab-highlight-color));
  background-position: -6px 0;
  background-repeat: no-repeat;
  background-size: 6px 100%;
  content: "";
  transition: background-position 150ms ease-out;
}

.tabbrowser-tabs.large-tabs .tab-selected-indicator {
  height: 56px;
}

/* Show the indicator background in if tab is a) selected and b) not closing */
.tabbrowser-tab[visuallyselected="true"]:not(.tab-hidden) .tab-selected-indicator {
  background-position: 0 0;
}

/* New tab gets selected + remains opacity:0 for 150ms; delay the animation by as much */
.tabbrowser-tab.tab-visible .tab-selected-indicator {
  transition-delay: 150ms;
}

.tab-meta-image {
  margin-left: 2px;
  margin-right: 6px;
}

.tabbrowser-tabs.large-tabs .tab-meta-image {
  max-width: 54px;
  max-height: 40px;
  min-width: 54px;
  min-height: 40px;
  border: 2px solid white;
  margin-left: 6px;
  margin-right: 6px;
  background-color: transparent;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  box-shadow:
    0 0 2px 2px hsla(0, 0%, 0%, 0.02),
    0 2px 0 hsla(0, 0%, 0%, 0.05),
    0 0 0 1px hsla(0, 0%, 0%, 0.2);
}

.tabbrowser-tabs.large-tabs .tab-throbber,
.tabbrowser-tabs.large-tabs .tab-icon-image {
  margin-top: 18px !important;
  margin-left: -2px !important;
  border-radius: 2px;
  background-color: #fff !important;
  box-shadow:
    0 0 2px hsla(0, 0%, 0%, 0.08),
    0 0 0 1px hsla(0, 0%, 0%, 0.08);
}

.tabbrowser-tabs.large-tabs html|canvas {
  position: absolute;
  top: 7.5px;
  left: 12px;
  z-index: -1;
  width: 54px;
  height: 40px;
  background: url("resource://tabcenter/skin/blank.svg");
  background-color: #e6e6e6;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 42px 28px;
}

.tabbrowser-tabs:not(.large-tabs) .tab-meta-image html|canvas {
  display: none;
}

.tab-throbber,
.tab-icon-image {
  display: -moz-box !important;
  min-width: 20px !important;
  min-height: 20px !important;
  max-width: 20px !important;
  max-height: 20px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 2px;
  opacity: 1 !important;
}

.tab-throbber,
.tabbrowser-tab[busy] .tab-icon-image {
  display: none !important;
}

.tabbrowser-tab[busy] .tab-throbber {
  display: -moz-box !important;
}

/* Drop indicator for drag'n'drop of tabs - Works OOTB(TM)- Just needs a margin. */

.tab-drop-indicator {
  margin-top: -11px !important;
  margin-bottom: 0 !important;
}

#TabsToolbar {
  border: none !important;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.2) !important;
  display: flex;
  padding: 0 !important;
  align-items: center;
  -moz-appearance: none !important;
  flex: 0 0 39px;
}

#main-window[brighttext] #verticaltabs-box #TabsToolbar {
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.5) !important;
}

#TabsToolbar > toolbarbutton:not(#pin-button):not(#new-tab-button):not(#top-tabs-button),
#TabsToolbar > toolbaritem {
  display: none;
}

#verticaltabs-box #TabsToolbar > toolbarbutton {
  border: 1px solid transparent !important;
  box-sizing: border-box;
  height: 26px !important;
  min-height: 26px !important;
  -moz-appearance: none;
  background-image: none !important;
}

#verticaltabs-box #TabsToolbar > toolbarbutton:hover {
  border: 1px solid hsla(0, 0%, 0%, 0.16) !important;
  background-color: hsla(0, 0%, 0%, 0.1) !important;
}

#verticaltabs-box #TabsToolbar > toolbarbutton:hover:active {
  background-color: hsla(0, 0%, 0%, 0.16) !important;
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1) inset !important;
}

#TabsToolbar > #new-tab-button {
  margin: 0 4px !important;
  min-width: 30px !important;
  -moz-box-align: center !important;
  -moz-box-orient: horizontal !important;
  -moz-box-pack: end !important;
  flex: 0 20 auto !important;
}

#TabsToolbar #new-tab-button .toolbarbutton-icon {
  margin: 0 2px !important;
  padding: 0 !important;
}

#TabsToolbar #new-tab-button .toolbarbutton-text {
  display: inline !important;
  padding: 0 !important;
}

#TabsToolbar #new-tab-spacer {
  flex: 20 0 auto;
}

/* Tab toolbar styling */

#verticaltabs-groupbutton {
  /* TODO need icon to symbolize tab group */
  -moz-image-region: rect(0, 234px, 18px, 216px);
  list-style-image: url("chrome://browser/skin/Toolbar.png");
}

/*** Group related styles ***/

.tabbrowser-tab[verticaltabs-ingroup],
.tabbrowser-tab[verticaltabs-ingroup]:hover {
  padding-left: 16px !important;
}

.tabbrowser-tab[verticaltabs-group] .tab-close-button {
  opacity: 1 !important;
}

.tabbrowser-tab[verticaltabs-group] .tab-text {
  padding-left: 3px !important;
}

.verticaltabs-textbox {
  margin: 0;
}

.verticaltabs-counter {
  visibility: collapse;
}

.verticaltabs-droptarget {
  background-color: Highlight !important;
  color: HighlightText !important;
}

.verticaltabs-dropingroup {
  margin-left: 10px !important;
}

.verticaltabs-droptonewgroup {
  /* TODO need icon to symbolize tab group */
  -moz-image-region: rect(0, 234px, 18px, 216px);
  list-style-image: url("chrome://browser/skin/Toolbar.png");
}

.verticaltabs-twisty {
  margin-right: 2px !important;
  margin-left: 1px !important;
  -moz-appearance: treetwisty !important;
  cursor: default !important;
}

.tabbrowser-tab[verticaltabs-collapsed="true"] .verticaltabs-twisty {
  -moz-appearance: treetwistyopen !important;
}

#customization-titlebar-visibility-button {
  display: none;
}

.tab-content[pinned][titlechanged]:not([visuallyselected="true"]) {
  background-image: none !important;
}

.tabbrowser-tab:-moz-any([image], [pinned]) > .tab-stack > .tab-content[attention]:not([visuallyselected="true"]),
.tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged]:not([visuallyselected="true"]) {
  background-image: url("resource://tabcenter/skin/glyph-notification-circle-16.svg") !important;
  background-position: -8px center !important;
  background-repeat: no-repeat !important;
  background-size: 16px !important;
}

/* opentabstop option */

#tabbrowser-tabs[opentabstop] .tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox .scrollbox-innerbox {
  -moz-box-direction: reverse;
  -moz-box-pack: end;
}

#tabbrowser-tabs[opentabstop] #filler-tab {
  -moz-box-ordinal-group: 0;
}
