/*Only Linux Styles*/

#appcontent {
  border-top: 0 !important;
}

#verticaltabs-box {
  /* Match navigation bar which has a border-bottom adding 1px */
  --toolbar-height: 41px;
  border-top: 0 !important;
}

#TabsToolbar > toolbarbutton {
  padding: 0 5px;
  border-radius: 2px;
}

#TabsToolbar #find-input {
  border-radius: 2px !important;
}

/*** Button design ***/
/*
  Button layout on Linux is rather different from OSX.
  The 28x24 px rectangle is actually the .toolbarbutton-icon element,
  and the surrounding button is transparent and adds 3px padding on
  each side (bigger hitbox, yay!). Can we check:
  - how it works on Windows?
  - can we replicate that behavior on Mac/Win?
*/
