/*Only Linux Styles*/

#appcontent {
  border-top: 0 !important;
}

#verticaltabs-box {
  /* Match navigation bar which has a border-bottom adding 1px */
  --toolbar-height: 41px;
  border-top: 0 !important;
}

#main-window:not(:-moz-lwtheme) #TabsToolbar {
  --toolbar-background: -moz-dialog;
  --toolbar-top-border: rgba(255, 255, 255, 0.4);
  --toolbar-bottom-border: ThreeDShadow;
  background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)) !important;
}

#TabsToolbar > toolbarbutton {
  padding: 0 5px;
  border-radius: 2px;
}

#TabsToolbar #find-input {
  border-radius: 2px !important;
}
