/*Only Mac Styles*/

#appcontent {
  border-top: 0 !important;
}

#verticaltabs-box {
  --toolbar-height: 40px;
}

/* Inactive window */

#verticaltabs-box:-moz-window-inactive {
  --toolbar-side-border: hsla(0, 0%, 0%, 0.1);
  --tabs-side-border: hsla(0, 0%, 0%, 0.15);
}

#verticaltabs-box #TabsToolbar {
  margin-bottom: 0 !important;
}

/* Override background for standard theme; match navigation bar */
#main-window:not(:-moz-lwtheme) #verticaltabs-box #TabsToolbar {
  background: linear-gradient(hsl(0, 0%, 93%), hsl(0, 0%, 83%)) !important;
  background-origin: border-box !important;
  box-shadow:
    inset 0 1px 0 hsla(0, 0%, 100%, 0.4),
    inset 0 -1px 0 0 hsla(0, 0%, 100%, 0.15) !important;
}

#main-window:not(:-moz-lwtheme):-moz-window-inactive #verticaltabs-box #TabsToolbar {
  background: linear-gradient(hsl(0, 0%, 97%), hsl(0, 0%, 95%)) !important;
}

#verticaltabs-box {
  border-top: 0 !important;
}

#verticaltabs-box #TabsToolbar > toolbarbutton {
  padding: 0 4px !important;
  border-radius: 3px !important;
  transition-property: background, border-color;
  transition-duration: 250ms;
}

#verticaltabs-box #TabsToolbar > toolbarbutton:hover {
  border: 1px solid hsla(0, 0%, 0%, 0.16) !important;
  background-color: hsla(0, 0%, 0%, 0.1) !important;
}

#verticaltabs-box #TabsToolbar > toolbarbutton:hover:active {
  border: 1px solid hsla(0, 0%, 0%, 0.16) !important;
  background-color: hsla(0, 0%, 0%, 0.16) !important;
  box-shadow: none !important;
}

#TabsToolbar #new-tab-button .toolbarbutton-icon {
  width: 16px !important;
  height: 16px !important;
  -moz-image-region: rect(0, 16px, 16px, 0) !important;
}

#main-window[tabspinned="true"] #verticaltabs-box #pin-button {
  box-shadow: none !important;
}

@media (min-resolution: 2dppx) {
  .tabs-newtab-button,
  #TabsToolbar > #new-tab-button,
  #TabsToolbar > toolbarpaletteitem > #new-tab-button {
    list-style-image: url("resource://tabcenter/skin/glyph-new-16.svg") !important;
  }

  #main-window[brighttext] #TabsToolbar .tabs-newtab-button,
  #main-window[brighttext] #TabsToolbar > #new-tab-button,
  #main-window[brighttext] #TabsToolbar > toolbarpaletteitem > #new-tab-button {
    list-style-image: url("resource://tabcenter/skin/glyph-new-inverted-16.svg") !important;
  }
}

.title-wrapper .tab-text {
  font-weight: normal;
}

.tab-close-button {
  border-radius: 2.5px !important;
}

#TabsToolbar #find-input {
  border-radius: 2.5px !important;
  background-position: 6px center !important;
  /* Original style was a very visible zoom-in-or-out effect,
     but it's inconsistent with the navigation bar so let's
     make it more subtle. */
  /*box-shadow: 0 0 0 30px hsla(210, 100%, 60%, 0) !important;*/
  /*transition-duration: 150ms !important;*/
  box-shadow: 0 0 0 0 hsla(210, 100%, 60%, 0) !important;
}

#TabsToolbar #find-input[focused="true"] {
  border: 1px solid hsla(210, 100%, 60%, 0.6) !important;
  box-shadow: 0 0 0 2.5px hsla(210, 100%, 60%, 0.45) !important;
}

.tabbrowser-arrowscrollbox {
  height: calc(100vh - 61px);
}

#main-window[inFullscreen] .tabbrowser-arrowscrollbox,
#main-window[inFullscreen] .tabbrowser-arrowscrollbox:not(:-moz-lwtheme),
.tabbrowser-arrowscrollbox:not(:-moz-lwtheme) {
  height: calc(100vh - 39px);
}

#main-window[devedition-theme] .tabbrowser-arrowscrollbox {
  height: calc(100vh - 62px);
}

#main-window[devedition-theme][inFullscreen] .tabbrowser-arrowscrollbox {
  height: calc(100vh - 40px);
}
