/**
 * macOS style adaptations
 */

/*** Main containers ***/

#verticaltabs-box,
#appcontent {
  border-top: 0 !important;
}

#verticaltabs-box {
  --toolbar-height: 40px;
}

#verticaltabs-box:-moz-window-inactive {
  --toolbar-side-border: hsla(0, 0%, 0%, 0.1);
  --tabs-side-border: hsla(0, 0%, 0%, 0.15);
}

/* Gradient to match standard theme */
#main-window:not(:-moz-lwtheme) #TabsToolbar {
  background: linear-gradient(hsl(0, 0%, 93%), hsl(0, 0%, 83%)) !important;
  background-origin: border-box !important;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.4) !important;
}

#main-window:not(:-moz-lwtheme):-moz-window-inactive #TabsToolbar {
  background: linear-gradient(hsl(0, 0%, 97%), hsl(0, 0%, 95%)) !important;
}

#main-window:not(:-moz-lwtheme) #TabsToolbar::after {
  border-top: solid 1px hsla(0, 0%, 100%, 0.15);
}

/*** Toolbar items ***/

#TabsToolbar #new-tab-button .toolbarbutton-icon {
  width: 16px !important;
  height: 16px !important;
  -moz-image-region: rect(0, 16px, 16px, 0) !important;
}

#TabsToolbar toolbarbutton:-moz-window-inactive:not(:hover) {
  opacity: 0.5;
}

#TabsToolbar #find-input {
  border-radius: 3px !important;
  /* Original style was a very visible zoom-in-or-out effect,
     but it's inconsistent with the navigation bar so let's
     make it more subtle. */
  /*box-shadow: 0 0 0 30px hsla(210, 100%, 60%, 0) !important;*/
  /*transition-duration: 150ms !important;*/
  box-shadow: 0 0 hsla(210, 100%, 60%, 0) !important;
}

/* Compact themes don't use a blue outline for nav bar text inputs */
#main-window:not([style*="compact.header.png"]) #find-input[focused="true"] {
  border: 1px solid hsla(210, 100%, 60%, 0.6) !important;
  box-shadow: 0 0 0 2.5px hsla(210, 100%, 60%, 0.45) !important;
}

/*** Tabs Scrollbox ***/

.tabbrowser-arrowscrollbox {
  height: calc(100vh - 62px);
}

#main-window[inFullscreen] .tabbrowser-arrowscrollbox,
#main-window[inFullscreen] .tabbrowser-arrowscrollbox:not(:-moz-lwtheme),
.tabbrowser-arrowscrollbox:not(:-moz-lwtheme) {
  height: calc(100vh - 40px);
}

#main-window[devedition-theme] .tabbrowser-arrowscrollbox {
  height: calc(100vh - 62px);
}

#main-window[devedition-theme][inFullscreen] .tabbrowser-arrowscrollbox {
  height: calc(100vh - 40px);
}

/*** Tab content ***/

.title-wrapper .tab-text {
  font-weight: normal;
}

.tab-close-button {
  border-radius: 3px !important;
}

/*** Lightweight Themes ***/

/* Compact light: harmonize title bar separator */
#main-window:not([inFullscreen])[style*="compact.header.png"]:-moz-lwtheme-darktext #nav-bar,
#main-window:not([inFullscreen])[style*="compact.header.png"]:-moz-lwtheme-darktext #TabsToolbar {
  box-shadow: 0 1px hsla(0, 0%, 0%, 0.15) inset !important;
}
