/* TODO this should become a platform-specific CSS overlay */
@import url("osx.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.tabbrowser-arrowscrollbox > scrollbox {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

.tabbrowser-arrowscrollbox > .scrollbutton-up,
.tabbrowser-arrowscrollbox > .scrollbutton-down {
    visibility: collapse !important;
}

.tab-icon-image {
    max-width: 16px;
    max-height: 16px;
}
