/*Only Windows Styles*/

/*** Main containers ***/

#verticaltabs-box {
  /* reported from base.css since it's the only platform which kept this,
     but pretty sure we will have to remove or tweak it. */
  border-top: 1px solid var(--toolbar-side-border);
}

@media (-moz-os-version: windows-win7), (-moz-os-version: windows-win8) {
  #appcontent {
    top: 1px;
  }

  #verticaltabs-box {
    --toolbar-height: 42px;
  }

  /* candidate for removal? */
  #nav-bar {
    border-left: none !important;
  }
}

/*** Tabs Scrollbox ***/
/* FIXME: can we just change --toolbar-height, or do we need to add an offset as on OSX? */

.tabbrowser-arrowscrollbox,
.tabbrowser-arrowscrollbox:not(:-moz-lwtheme),
#main-window[devedition-theme] .tabbrowser-arrowscrollbox {
  height: calc(100vh - 40px);
}

@media (-moz-os-version: windows-win8) {
  .tabbrowser-arrowscrollbox,
  .tabbrowser-arrowscrollbox:not(:-moz-lwtheme),
  #main-window[devedition-theme] .tabbrowser-arrowscrollbox {
    height: calc(100vh - 43px);
  }
}

@media (-moz-os-version: windows-win7) {
  .tabbrowser-arrowscrollbox,
  .tabbrowser-arrowscrollbox:not(:-moz-lwtheme),
  #main-window[devedition-theme] .tabbrowser-arrowscrollbox {
    height: calc(100vh - 44px);
  }
}

/*** Tab content ***/

.tabbrowser-tab .tab-text {
  font-weight: 600 !important;
}
