/*Only Windows Styles*/

.title-wrapper {
  padding-left: 5px;
}

#TabsToolbar > #new-tab-button {
  width:auto !important;
}

@media (-moz-os-version: windows-xp), (-moz-os-version: windows-vista), (-moz-os-version: windows-win10) {
  .tabbrowser-arrowscrollbox,
  .tabbrowser-arrowscrollbox:not(:-moz-lwtheme) {
    height: calc(100vh - 42px);
  }
}

@media (-moz-os-version: windows-win7), (-moz-os-version: windows-win8) {
  #appcontent {
    top: 1px;
  }

  #verticaltabs-box {
    border-left: 1px solid rgb(160, 160, 160);
  }

  #TabsToolbar {
    margin: 0 !important;
    flex: 0 0 42px !important;
  }

  #nav-bar {
    border-left: none !important;
  }
}

@media (-moz-os-version: windows-win8) {
  .tabbrowser-arrowscrollbox,
  .tabbrowser-arrowscrollbox:not(:-moz-lwtheme) {
    height: calc(100vh - 46px);
  }
}

@media (-moz-os-version: windows-win7) {
  .tabbrowser-arrowscrollbox,
  .tabbrowser-arrowscrollbox:not(:-moz-lwtheme) {
    height: calc(100vh - 44px);
  }
}

/* win10 needs to be 1 px smaller*/
@media (-moz-os-version: windows-win10) {
  #TabsToolbar {
    flex: 0 0 39px;
  }
}
