/*Only Windows Styles*/

.title-wrapper {
  padding-left: 5px;
}

.title-wrapper .tab-text {
  font-weight: 600 !important;
}

#TabsToolbar > #new-tab-button {
  width:auto !important;
}

.tabbrowser-arrowscrollbox,
.tabbrowser-arrowscrollbox:not(:-moz-lwtheme),
#main-window[devedition-theme] .tabbrowser-arrowscrollbox {
  height: calc(100vh - 40px);
}

@media (-moz-os-version: windows-win7), (-moz-os-version: windows-win8) {
  #appcontent {
    top: 1px;
  }

  #TabsToolbar {
    flex-basis: 42px;
  }

  #nav-bar {
    border-left: none !important;
  }
}

@media (-moz-os-version: windows-win8) {
  .tabbrowser-arrowscrollbox,
  .tabbrowser-arrowscrollbox:not(:-moz-lwtheme),
  #main-window[devedition-theme] .tabbrowser-arrowscrollbox {
    height: calc(100vh - 43px);
  }
}

@media (-moz-os-version: windows-win7) {
  .tabbrowser-arrowscrollbox,
  .tabbrowser-arrowscrollbox:not(:-moz-lwtheme),
  #main-window[devedition-theme] .tabbrowser-arrowscrollbox {
    height: calc(100vh - 44px);
  }
}
