@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.tabbrowser-tabs {
    margin: 0 !important;
    padding: 0 !important;
    background: transparent !important;
    background-color: rgb(238, 243, 250) !important; /* #sidebar uses this */
    background-color: Window !important; /* other Win7 apps seems to use this */
}

.tabbrowser-tab {
    -moz-appearance: none !important;
    background: transparent !important;
    border: 1px solid transparent !important;
    -moz-border-radius-topleft: 0 !important;
    -moz-border-radius-topright: 0 !important;
    -moz-border-radius-bottomleft: 0 !important;
    -moz-border-radius-bottomright: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}
.tabbrowser-tab:hover {
    border: 1px solid #b9d7fc !important;
    background: -moz-linear-gradient(top, Window, #edf5ff) repeat-x !important;
    -moz-border-radius-topleft: 3px !important;
    -moz-border-radius-topright: 3px !important;
    -moz-border-radius-bottomleft: 3px !important;
    -moz-border-radius-bottomright: 3px !important;
}

.tabbrowser-tab[selected="true"],
.tabbrowser-tab[multiselect="true"] {
    margin: 0 !important;
    padding: 0 !important;

    border: 1px solid #84acdd !important;
    background: -moz-linear-gradient(top, Window, #d0e5ff) repeat-x !important;
    -moz-border-radius-topleft: 3px !important;
    -moz-border-radius-topright: 3px !important;
    -moz-border-radius-bottomleft: 3px !important;
    -moz-border-radius-bottomright: 3px !important;

    font-weight: normal;
    text-shadow: none;
}
.tabbrowser-tab[selected="true"]:-moz-window-inactive,
.tabbrowser-tab[multiselect="true"]:-moz-window-inactive {
    border: 1px solid #dadada !important;
    background: -moz-linear-gradient(top, Window, #e6e6e6) repeat-x !important;
}

.tabbrowser-tab:not([selected="true"]):hover {
    margin: 0 !important;
    padding: 0 !important;
}

/* Turn mouse cursor into a pointy hand.  This seems to be the
   standard for link lists like these. */
.tabbrowser-tab,
.tabbrowser-tab > .tab-text {
    cursor: pointer !important;
}

.tabbrowser-tab:not(:hover):not([selected="true"]) > .tab-close-button {
    visibility: collapse !important;
}

/* Keep the close button at a safe distance from the tab label. */
.tab-close-button {
    margin-left: 3px;
}

/* Hide resizer in the new statusbar */
#verticaltabs-statusbar resizer {
    visibility: collapse;
}

/* New toolbar buttons in the new statusbar */
.verticaltabs-button {
    width: 24px;
    height: 24px;
    max-width: 24px;
    max-height: 24px;
}

#verticaltabs-newtabbutton {
    list-style-image: url("chrome://browser/skin/tabbrowser/newtab.png");
    -moz-image-region: rect(0, 18px, 18px, 0);
}
#verticaltabs-newtabbutton:hover:active {
    -moz-image-region: rect(0, 36px, 18px, 18px);
}

#verticaltabs-alltabsbutton > .toolbarbutton-icon {
    list-style-image: url("chrome://browser/skin/tabbrowser/alltabs.png");
    -moz-image-region: rect(0, 14px, 20px, 0);
}
#verticaltabs-alltabsbutton:hover:active > .toolbarbutton-icon {
    -moz-image-region: rect(0, 28px, 20px, 14px);
}

/* Make Firefox's original status bar the same height */
#status-bar {
    height: 26px;
}
