@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#main-window[privatebrowsingmode="temporary"] #titlebar-buttonbox-container {
  margin-top: 4px;
}

.tabbrowser-tabs {
    border-top: 1px solid rgba(160,160,160,.5);
    box-sizing: border-box;
    flex: 1 0;
    height: calc(100vh - 42px);
    overflow-y: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

#verticaltabs-box:hover .tabbrowser-tabs,
#main-window[tabspinned="true"] #verticaltabs-box .tabbrowser-tabs {
  overflow-y: auto;
}

.tabbrowser-arrowscrollbox {
  flex: 1 0;
  height: calc(100vh - 42px);
}

#verticaltabs-box .tabbrowser-arrowscrollbox > scrollbox {
    overflow-y: hidden !important;
}

#verticaltabs-box:hover .tabbrowser-arrowscrollbox > scrollbox,
#main-window[tabspinned="true"] #verticaltabs-box .tabbrowser-arrowscrollbox > scrollbox {
  overflow-y: auto !important;
}

#tabbrowser-tabs::before,
#tabbrowser-tabs + hbox,
#tabbrowser-tabs > hbox {
  display: none !important;
}

#browser {
  display: block;
  height: 100vh;
  position:relative;
}

#verticaltabs-box {
  background-color: #fbfbfb !important;
  border-right: 1px solid ThreeDShadow;
  border-top: 1px solid rgb(160,160,160) !important;
  box-shadow: 0 0 10px rgba(0,0,0,0.0), inset 0 0 10px rgba(0,0,0,0.2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  transition: box-shadow 150ms ease-out 300ms, width 150ms ease-out 300ms;
  width: 45px;
  z-index: 3;
}

#main-window[inFullscreen][inDOMFullscreen] #verticaltabs-box {
  visibility: collapse;
}

#verticaltabs-box:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.2), inset 0 0 10px rgba(0,0,0,0.0);
  width: 260px;
}

#main-window[tabspinned="true"] #verticaltabs-box {
  box-shadow: none;
  transition: box-shadow 0ms ease-in-out 0ms;
  width: 260px;
}

#alltabs-button {
  visibility: hidden;
}

#pin-button {
  background: no-repeat center/16px url("chrome://tabcenter/skin/pin.png");
  border: none !important;
  margin: 0 !important;
  -moz-appearance: none !important;
  width: 40px;
}

#main-window[tabspinned="true"] #verticaltabs-box #pin-button {
  background-image: url("chrome://tabcenter/skin/pin-hover.png");
  background-color: #bbb !important;
}

[devtoolstheme="dark"] #pin-button {
  background-image: url("chrome://tabcenter/skin/pin-hover.png");
}

#main-window[devtoolstheme="dark"][tabspinned="true"] #verticaltabs-box #pin-button {
  background-image: url("chrome://tabcenter/skin/pin.png");
}

/*#browser-box {*/
#appcontent {
  border-top: 1px solid rgb(160,160,160);
  top: 0;
  position: absolute;
}

#appcontent,
#PopupAutoCompleteRichResult {
  left: 45px;
}

#main-window[tabspinned="true"] #verticaltabs-box + #appcontent,
#main-window[tabspinned="true"] #PopupAutoCompleteRichResult {
  left: 260px;
}

#main-window[inFullscreen][inDOMFullscreen] #appcontent,
#main-window[inFullscreen][inDOMFullscreen] #PopupAutoCompleteRichResult {
  left: 0 !important
}

#navigator-toolbox,
.browserContainer,
#PopupAutoCompleteRichResult {
  width: calc(100vw - 45px);
}

#PopupAutoCompleteRichResult {
  margin-left: -32px !important;
}

#main-window[tabspinned="true"] #verticaltabs-box + #appcontent #navigator-toolbox,
#main-window[tabspinned="true"] #verticaltabs-box + #appcontent .browserContainer,
#main-window[tabspinned="true"] #PopupAutoCompleteRichResult {
  width: calc(100vw - 260px);
}

#main-window[inFullscreen][inDOMFullscreen] .browserContainer
#main-window[inFullscreen][inDOMFullscreen] #PopupAutoCompleteRichResult {
  width: 100vw !important;
}

#content notificationbox {
  height: calc(100vh - 40px);
}

#main-window[inFullscreen][inDOMFullscreen] .browserContainer {
  height: calc(100vh + 4px);
  margin-top: -14px;
}

.tabbrowser-tab {
    -moz-box-pack: start;
    -moz-box-flex: 0;
    -moz-appearance: none !important;
    background: transparent !important;
    border: 0 !important;
    border-radius: 0 !important;
    margin: 0 !important;
    height: 36px !important;
    min-height: 36px !important;
    max-height: 36px !important;
    color: #333333 !important;
    border-left: 4px solid transparent !important;
    width: 260px !important;
}

.tabbrowser-tab[selected="true"],
.tabbrowser-tab[multiselect="true"] {
    margin: 0 !important;
    background-color: #dadada !important;
    font-weight: normal;
    text-shadow: none;
    border-left: 4px solid #ff9500 !important;
    border-radius: 0 !important;
    font-weight: 600 !important;
}
.tabbrowser-tab[selected="true"]:-moz-window-inactive,
.tabbrowser-tab[multiselect="true"]:-moz-window-inactive {
    background-color: InactiveCaption !important;
    color: InactiveCaptionText !important;
   /* gnome/gtk/cleartype doesn't seem to have inactive states for selected items, lets try this */
}

.tabbrowser-tab[pinned] {
  border-left: 4px solid #0996f8 !important;
}

.tabbrowser-tab:not([selected="true"]):hover {
    margin: 0 !important;
    background-color: #ebebeb !important;
}

.tabbrowser-tab[pinned] .tab-close-button,
.tabbrowser-tab:not(:hover) .tab-close-button {
    visibility: collapse !important;
}

.tab-stack {
  min-height: 28px;
  text-shadow: none;
}

/* devtools dark color overrides
   needs the second attrib selector b/c
   the devtools flag is always on if the user is in dev edition
   even if they transition back to the default australis UI
*/

[devtoolstheme~="dark"][lwtheme="true"] .tabbrowser-tab {
  font-weight: 400 !important;
  color: #fff !important;
}

[devtoolstheme~="dark"][lwtheme="true"] .tabbrowser-tab[selected="true"],
[devtoolstheme~="dark"][lwtheme="true"] .tabbrowser-tab[multiselect="true"] {
  background-color: #3C4146 !important;
  box-shadow: none !important;
}

[devtoolstheme~="dark"][lwtheme="true"] .tabbrowser-tab:not([selected="true"]):hover {
    background-color: #2C3136 !important;
}

.tab-icon-sound {
  display: none;
}
.tab-icon-overlay[soundplaying] {
  display: -moz-box !important;
}

/* Keep the close button at a safe distance from the tab label. */
.tab-close-button {
    display: -moz-box !important;
    background: no-repeat center/16px url("chrome://tabcenter/skin/stop.svg") !important;
    margin: 0 0 0 3px !important;
    width: 40px;
    height: 40px;
}

.tab-close-button:hover {
    background: no-repeat center/16px url("chrome://tabcenter/skin/stop-hover.svg") !important;
    background-color: #d94141 !important;
}

.tab-close-button > .toolbarbutton-icon {
  display: none;
}

.tab-label {
  text-align: left !important;
}

.tab-content {
  padding: 0px !important;
  margin: 0px !important;
  min-height: 36px;
  max-height: 36px;
}

.tab-throbber,
.tab-icon-image {
  padding: 3px;
  background-color: transparent !important;
  border-radius: 2px;
  display: -moz-box !important;
  min-height: 22px !important;
  min-width: 22px !important;
  opacity: 1 !important;
}

.tab-throbber,
.tabbrowser-tab[busy] .tab-icon-image {
  display: none !important;
}

.tabbrowser-tab[busy] .tab-throbber {
  display: -moz-box !important;
}
/** Drop indicator for drag'n'drop of tabs - Works OOTB(TM)- Just needs a margin.**/
.tab-drop-indicator {
    margin-top: -11px !important;
    margin-bottom: 0 !important;
}

#TabsToolbar:not(:-moz-lwtheme)  {
    border-bottom-left-radius: 0px !important;
    box-shadow: none !important;
    -moz-appearance: none !important;
    -moz-border-right-colors: #fcfcfc rgb(154,154,154) !important;
    background-color: #f1f1f1 !important;
    background-image: none !important;
}

#TabsToolbar {
  display: flex;
  flex: 0 0 40px;
  color: black;
}

#TabsToolbar > toolbarbutton {
  min-height: 100% !important;
}

#TabsToolbar > #new-tab-button {
  -moz-box-orient: horizontal !important;
  padding: 0 5px !important;
  width: auto !important;
}
#TabsToolbar #new-tab-button .toolbarbutton-text {
  display: -moz-box;
  padding: 0 2px !important;
}
#TabsToolbar #new-tab-spacer {
  flex: 1;
}

/* Tab toolbar styling */

#verticaltabs-groupbutton {
    /* TODO need icon to symbolize tab group */
    list-style-image: url("chrome://browser/skin/Toolbar.png");
    -moz-image-region: rect(0, 234px, 18px, 216px);
}


/*** Group related styles ***/

.tabbrowser-tab[verticaltabs-ingroup],
.tabbrowser-tab[verticaltabs-ingroup]:hover {
    padding-left: 16px !important;
}

.tabbrowser-tab[verticaltabs-group] {
}

.tabbrowser-tab[verticaltabs-group] .tab-close-button {
    opacity: 1 !important;
}

.tabbrowser-tab[verticaltabs-group] .tab-text {
    padding-left: 3px !important;
}

.verticaltabs-textbox {
    margin: 0;
}

.verticaltabs-counter {
    visibility: collapse;
}

.verticaltabs-droptarget {
    background-color: Highlight !important;
    color: HighlightText !important;
}

.verticaltabs-dropingroup {
    margin-left: 10px !important;
}

.verticaltabs-droptonewgroup {
    /* TODO need icon to symbolize tab group */
    list-style-image: url("chrome://browser/skin/Toolbar.png");
    -moz-image-region: rect(0, 234px, 18px, 216px);
}

.verticaltabs-twisty {
    cursor: default !important;
    margin-left: 1px !important;
    margin-right: 2px !important;
    -moz-appearance: treetwisty !important;
}
.tabbrowser-tab[verticaltabs-collapsed="true"] .verticaltabs-twisty {
    -moz-appearance: treetwistyopen !important;
}

#customization-titlebar-visibility-button {
  display: none;
}

.tabbrowser-tab[pinned][titlechanged]:not([visuallyselected="true"]) {
  background-image: radial-gradient(22px at left center,#0996f8 19%, transparent 22%) !important;
  background-position: -2px center !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
}

.tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged]:not([visuallyselected="true"]) {
  background-image: none !important;
}

@media (-moz-os-version: windows-win7), (-moz-os-version: windows-win8) {
  #appcontent {
    top: 1px;
  }
  #verticaltabs-box {
    top: 1px;
    border-left: 1px solid rgb(160,160,160);
  }
  #TabsToolbar {
    flex: 0 0 44px !important;
    margin: 0 !important;
  }
  #nav-bar {
    border-left: none !important;
  }
}
