@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root {
  --tab-animation-time:150ms;
  --pinned-width:260px;
}

#main-window[privatebrowsingmode="temporary"] #titlebar-buttonbox-container {
  margin-top: 4px;
}

.tabbrowser-tabs {
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
  border-top: 1px solid rgba(160, 160, 160, 0.5);
  flex: 1 0;
}

#verticaltabs-box[expanded="true"] .tabbrowser-tabs,
#main-window[tabspinned="true"] #verticaltabs-box .tabbrowser-tabs {
  overflow-y: auto;
}

.tabbrowser-arrowscrollbox {
  height: calc(100vh - 63px);
  flex: 1 0;
}

.tabbrowser-arrowscrollbox:not(:-moz-lwtheme) {
  height: calc(100vh - 41px);
}

#verticaltabs-box .tabbrowser-arrowscrollbox > scrollbox {
  overflow-y: hidden !important;
}

#verticaltabs-box[expanded="true"] .tabbrowser-arrowscrollbox > scrollbox,
#main-window[tabspinned="true"] #verticaltabs-box .tabbrowser-arrowscrollbox > scrollbox {
  overflow-y: auto !important;
}

#tabbrowser-tabs::before,
#tabbrowser-tabs + hbox,
#tabbrowser-tabs > hbox {
  display: none !important;
}

#browser {
  position: relative;
  height: 100vh;
}

#verticaltabs-box {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 45px;
  height: 100vh;
  border-top: 1px solid rgb(160, 160, 160) !important;
  border-right: 1px solid ThreeDShadow;
  display: flex;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: #fbfbfb !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0), inset 0 0 10px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  transition: box-shadow 150ms ease-out 300ms, width 150ms ease-out 300ms;
}

#verticaltabs-box[brighttext] {
  background-color: #333 !important;
}

#main-window[inFullscreen][inDOMFullscreen] #verticaltabs-box {
  visibility: collapse;
}

#verticaltabs-box[expanded="true"] {
  width: 260px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0);
}

#verticaltabs-splitter {
  display: none;
  margin-left: var(--pinned-width);
  min-width: 3px !important;
  width: 3px;
  cursor: ew-resize;
}

#main-window[tabspinned="true"] #verticaltabs-splitter {
  display: -moz-box;
}

#main-window[inFullscreen][inDOMFullscreen] #verticaltabs-splitter {
  display: none;
}

#main-window[tabspinned="true"] #verticaltabs-box {
  width: var(--pinned-width);
  box-shadow: none;
  transition: box-shadow 0ms ease-in-out 0ms;
}

#alltabs-button {
  visibility: hidden;
}

#TabsToolbar > #pin-button {
  width: 40px;
  min-width: 40px;
  margin: 0 !important;
  border: none !important;
  display: -moz-box;
  -moz-appearance: none !important;
  background: no-repeat center/16px url("resource://tabcenter/skin/pin.png");
  opacity: 0;
  transition: opacity 125ms ease-in-out 300ms;
}

#TabsToolbar > #find-tabs-button {
  width: 40px;
  margin: 0 !important;
  border: none !important;
  display: -moz-box;
}

#TabsToolbar > #find-tabs-button > .toolbarbutton-text {
  display: -moz-box;
}

#TabsToolbar > #find-tabs-button > .toolbarbutton-icon {
  display: none;
}

#TabsToolbar #find-input {
  margin: 8px !important;
  border-radius: 2px;
  flex: 1 0 20px;
  transition: min-width linear 300ms;
}

#TabsToolbar #find-input[focused="true"] {
  min-width: calc(100% - 85px) !important;
}

#tabs-search {
  -moz-image-region: rect(0, 20px, 20px, 0);
  list-style-image: url("chrome://browser/skin/search-indicator.png");
}

#TabsToolbar #find-input .textbox-input-box {
  max-width: calc(100% - 20px);
  vertical-align: super;
}

#main-window[inFullscreen][inDOMFullscreen] #find-input {
  display: none;
}

#verticaltabs-box:not([expanded="true"]) #find-input {
  visibility: collapse !important;
}

#verticaltabs-box:not([expanded="true"]) #new-tab-spacer {
  visibility: visible !important;
}

#main-window[tabspinned="true"] #verticaltabs-box #pin-button {
  background-color: #bbb !important;
  background-image: url("resource://tabcenter/skin/pin-hover.png");
}

#main-window[lwthemetextcolor="bright"] #TabsToolbar[brighttext] #pin-button {
  background-image: url("resource://tabcenter/skin/pin-hover.png");
}

#main-window[tabspinned="true"] #TabsToolbar[brighttext] #pin-button {
  background-image: url("resource://tabcenter/skin/pin.png");
}

#verticaltabs-box[expanded="true"] #pin-button,
#main-window[tabspinned="true"] #pin-button {
  opacity: 1;
}

#appcontent {
  top: 0;
  border-top: 1px solid rgb(160, 160, 160);
}

#sidebar-box,
#sidebar-box[hidden="true"] ~ #appcontent,
#sidebar-box[hidden="true"] ~ #PopupAutoCompleteRichResult {
  margin-left: 45px;
}

#main-window[tabspinned="true"] #sidebar-box,
#main-window[tabspinned="true"] #sidebar-box[hidden="true"] ~ #appcontent,
#main-window[tabspinned="true"] #sidebar-box[hidden="true"] ~ #PopupAutoCompleteRichResult {
  margin-left: 0;
}

#main-window[chromehidden*="toolbar"] #appcontent,
#main-window[chromehidden*="toolbar"] #sidebar-box[hidden="true"] ~ #appcontent {
  margin-left: 0;
}

#main-window[inFullscreen][inDOMFullscreen] #appcontent,
#main-window[inFullscreen][inDOMFullscreen] #PopupAutoCompleteRichResult {
  margin-left: 0 !important;
}

#navigator-toolbox,
.browserContainer,
#PopupAutoCompleteRichResult {
  width: calc(100vw - 45px);
}

#PopupAutoCompleteRichResult {
  margin-left: -32px !important;
}

#main-window[tabspinned="true"] #verticaltabs-box + #appcontent #navigator-toolbox,
#main-window[tabspinned="true"] #verticaltabs-box + #appcontent .browserContainer,
#main-window[tabspinned="true"] #PopupAutoCompleteRichResult {
  width: calc(100vw - var(--pinned-width));
}

#main-window[inFullscreen][inDOMFullscreen] .browserContainer
#main-window[inFullscreen][inDOMFullscreen] #PopupAutoCompleteRichResult {
  width: 100vw !important;
}

#main-window[inFullscreen][inDOMFullscreen] .browserContainer {
  margin-top: -1px;
}

.tabbrowser-tab {
  width: 260px !important;
  max-height: 36px;
  min-height: 36px;
  margin: 0 !important;
  border: 0 !important;
  border-left: 4px solid transparent !important;
  border-radius: 0 !important;
  -moz-appearance: none !important;
  background: transparent !important;
  -moz-box-flex: 0;
  -moz-box-pack: start;
  color: #333 !important;
}

#main-window[tabspinned="true"] .tabbrowser-tab {
  width: var(--pinned-width) !important;
}

.tabbrowser-tab.tab-hidden {
  animation: var(--tab-animation-time) fade-out, var(--tab-animation-time) var(--tab-animation-time) slide-out;
}

.tabbrowser-tab.tab-visible {
  animation: 300ms slide-fade-in;
}

#filler-tab {
  height: 36px;
  width: var(--pinned-width);
}

#filler-tab:hover {
  background-color: #ebebeb;
}

#verticaltabs-box[brighttext] #filler-tab:hover {
  background-color: #3c4146 !important;
}

#filler-tab label {
  -moz-margin-start: 31px !important;
  font: message-box;
  text-shadow: none;
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes slide-out {
  0% { max-height: 36px; min-height: 36px; opacity: 0; }
  100% { max-height: 0; min-height: 0; opacity: 0; }
}

@keyframes slide-fade-in {
  0% { max-height: 0; min-height: 0; opacity: 0; }
  50% { max-height: 36px; min-height: 36px; opacity: 0; }
  100% { max-height: 36px; min-height: 36px; opacity: 1; }
}

.tabbrowser-tab[selected="true"],
.tabbrowser-tab[multiselect="true"] {
  margin: 0 !important;
  border-left: 4px solid #ff9500 !important;
  border-radius: 0 !important;
  background-color: #dadada !important;
  font-weight: normal;
  font-weight: 600 !important;
  text-shadow: none;
}

.tabbrowser-tab[selected="true"]:-moz-window-inactive,
.tabbrowser-tab[multiselect="true"]:-moz-window-inactive {
  background-color: InactiveCaption !important;
  color: InactiveCaptionText !important;

  /* gnome/gtk/cleartype doesn't seem to have inactive states for selected items, lets try this */
}

.tabbrowser-tab[pinned] {
  border-left: 4px solid #0996f8 !important;
}

.tabbrowser-tab:not([selected="true"]):hover {
  margin: 0 !important;
  background-color: #ebebeb !important;
}

.tabbrowser-tab[pinned] .tab-close-button,
.tabbrowser-tab:not(:hover) .tab-close-button {
  visibility: collapse !important;
}

.tab-stack {
  min-height: 28px;
  text-shadow: none;
}

/* dark theme colour overrides */

#verticaltabs-box[brighttext] .tabbrowser-tab {
  color: #fff !important;
  font-weight: 400 !important;
}

#verticaltabs-box[brighttext] .tabbrowser-tab[selected="true"],
#verticaltabs-box[brighttext] .tabbrowser-tab[multiselect="true"] {
  background-color: #3c4146 !important;
  box-shadow: none !important;
}

#verticaltabs-box[brighttext] .tabbrowser-tab:not([selected="true"]):hover {
  background-color: #2c3136 !important;
}

.tab-icon-sound {
  display: none;
}

.tab-icon-overlay[muted],
.tab-icon-overlay[soundplaying] {
  display: -moz-box !important;
}

/* Keep the close button at a safe distance from the tab label. */

.tab-close-button {
  display: -moz-box !important;
  width: 40px;
  height: 40px;
  margin: 0 0 0 3px !important;
  background: no-repeat center/16px url("resource://tabcenter/skin/stop.svg") !important;
}

.tab-close-button:hover {
  background: no-repeat center/16px url("resource://tabcenter/skin/stop-hover.svg") !important;
  background-color: #d94141 !important;
}

.tab-close-button > .toolbarbutton-icon {
  display: none;
}

.tab-label {
  text-align: left !important;
}

.tab-content {
  min-height: 36px;
  max-height: 36px;
  margin: 0 !important;
  padding: 0 !important;
}

.tab-throbber,
.tab-icon-image {
  display: -moz-box !important;
  min-width: 22px !important;
  min-height: 22px !important;
  border-radius: 2px;
  padding: 3px;
  background-color: transparent !important;
  opacity: 1 !important;
}

.tab-throbber,
.tabbrowser-tab[busy] .tab-icon-image {
  display: none !important;
}

.tabbrowser-tab[busy] .tab-throbber {
  display: -moz-box !important;
}

/* Drop indicator for drag'n'drop of tabs - Works OOTB(TM)- Just needs a margin. */

.tab-drop-indicator {
  margin-top: -11px !important;
  margin-bottom: 0 !important;
}

#TabsToolbar:not(:-moz-lwtheme) {
  border-bottom-left-radius: 0 !important;
  -moz-border-right-colors: #fcfcfc rgb(154, 154, 154) !important;
  -moz-appearance: none !important;
  background-image: none !important;
  box-shadow: none !important;
}

#TabsToolbar {
  padding: 0 !important;
  display: flex;
  flex: 0 0 40px;
}

#TabsToolbar > toolbarbutton,
#TabsToolbar > toolbaritem {
  min-height: 100% !important;
  display: none;
}

#TabsToolbar > #new-tab-button {
  display: inline;
  padding: 0 5px !important;
  -moz-box-orient: horizontal !important;
}

#TabsToolbar #new-tab-button .toolbarbutton-text {
  display: -moz-box;
  padding: 0 2px !important;
}

#TabsToolbar #new-tab-spacer {
  flex: 1 0 20px;
}

/* Tab toolbar styling */

#verticaltabs-groupbutton {
  /* TODO need icon to symbolize tab group */
  -moz-image-region: rect(0, 234px, 18px, 216px);
  list-style-image: url("chrome://browser/skin/Toolbar.png");
}

/*** Group related styles ***/

.tabbrowser-tab[verticaltabs-ingroup],
.tabbrowser-tab[verticaltabs-ingroup]:hover {
  padding-left: 16px !important;
}

.tabbrowser-tab[verticaltabs-group] .tab-close-button {
  opacity: 1 !important;
}

.tabbrowser-tab[verticaltabs-group] .tab-text {
  padding-left: 3px !important;
}

.verticaltabs-textbox {
  margin: 0;
}

.verticaltabs-counter {
  visibility: collapse;
}

.verticaltabs-droptarget {
  background-color: Highlight !important;
  color: HighlightText !important;
}

.verticaltabs-dropingroup {
  margin-left: 10px !important;
}

.verticaltabs-droptonewgroup {
  /* TODO need icon to symbolize tab group */
  -moz-image-region: rect(0, 234px, 18px, 216px);
  list-style-image: url("chrome://browser/skin/Toolbar.png");
}

.verticaltabs-twisty {
  margin-right: 2px !important;
  margin-left: 1px !important;
  -moz-appearance: treetwisty !important;
  cursor: default !important;
}

.tabbrowser-tab[verticaltabs-collapsed="true"] .verticaltabs-twisty {
  -moz-appearance: treetwistyopen !important;
}

#customization-titlebar-visibility-button {
  display: none;
}

.tabbrowser-tab[pinned][titlechanged]:not([visuallyselected="true"]) {
  background-image: radial-gradient(22px at left center, #0996f8 19%, transparent 22%) !important;
  background-position: -2px center !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
}

.tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged]:not([visuallyselected="true"]) {
  background-image: none !important;
}

@media (-moz-os-version: windows-xp), (-moz-os-version: windows-vista), (-moz-os-version: windows-win10), (-moz-os-version: windows-win7), (-moz-os-version: windows-win8) {
  /*remove clear bottom border in themes*/
  #TabsToolbar {
    border-bottom: 1px solid ThreeDShadow !important;
  }
}

@media (-moz-os-version: windows-xp), (-moz-os-version: windows-vista), (-moz-os-version: windows-win10) {
  .tabbrowser-arrowscrollbox,
  .tabbrowser-arrowscrollbox:not(:-moz-lwtheme) {
    height: calc(100vh - 42px);
  }
}

@media (-moz-os-version: windows-win7), (-moz-os-version: windows-win8) {
  #appcontent {
    top: 1px;
  }

  #verticaltabs-box {
    border-left: 1px solid rgb(160, 160, 160);
  }

  #TabsToolbar {
    margin: 0 !important;
    flex: 0 0 42px !important;
  }

  #nav-bar {
    border-left: none !important;
  }
}

@media (-moz-os-version: windows-win8) {
  .tabbrowser-arrowscrollbox,
  .tabbrowser-arrowscrollbox:not(:-moz-lwtheme) {
    height: calc(100vh - 46px);
  }
}

@media (-moz-os-version: windows-win7) {
  .tabbrowser-arrowscrollbox,
  .tabbrowser-arrowscrollbox:not(:-moz-lwtheme) {
    height: calc(100vh - 44px);
  }
}

/* win10 needs to be 1 px smaller*/
@media (-moz-os-version: windows-win10) {
  #TabsToolbar {
    flex: 0 0 39px;
  }
}
