@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


.tabbrowser-tabs {
    margin: 1px 0 0 0 !important;
    padding: 0 !important;
    background: transparent !important;
    background-color: -moz-Field !important;
    border: 1px solid ButtonShadow !important;
}

.tabbrowser-tab {
    -moz-box-pack: start;
    -moz-box-flex: 0;
    -moz-appearance: none !important;
    background: transparent !important;
    border: 1px solid transparent !important;
    border-radius: 0 !important;
    margin: 0 !important;
    padding: 1px 0 !important;
    height: 24px !important;
    min-height: 24px !important;
    max-height: 24px !important;
}

.tabbrowser-tab[selected="true"],
.tabbrowser-tab[multiselect="true"] {
    margin: 0 !important;
    padding: 1px 0 !important;

    background-color: Highlight !important;
    
    color: HighlightText !important;
    font-weight: normal;
    text-shadow: none;
}
.tabbrowser-tab[selected="true"]:-moz-window-inactive,
.tabbrowser-tab[multiselect="true"]:-moz-window-inactive {
    background-color: InactiveCaption !important;
    color: InactiveCaptionText !important;
   /* gnome/gtk/cleartype doesn't seem to have inactive states for selected items, lets try this */
}

.tabbrowser-tab:not([selected="true"]):hover {
    margin: 0 !important;
    padding: 1px 0 !important;
}


.tabbrowser-tab:not(:hover):not([selected="true"]) .tab-close-button {
    visibility: collapse !important;
}

/* Keep the close button at a safe distance from the tab label. */
.tab-close-button {
    display: -moz-box;
    margin-left: 3px !important;
    margin-right: 1px !important;
    margin-bottom: -3px !important;
}


/** Drop indicator for drag'n'drop of tabs - Works OOTB(TM)- Just needs a margin.**/
.tab-drop-indicator {
    margin-top: -11px !important;
    margin-bottom: 0 !important;
}


/* Tab toolbar styling */

#verticaltabs-groupbutton {
    /* TODO need icon to symbolize tab group */
    list-style-image: url("chrome://browser/skin/Toolbar.png");
    -moz-image-region: rect(0, 234px, 18px, 216px);
}


/*** Group related styles ***/

.tabbrowser-tab[verticaltabs-ingroup],
.tabbrowser-tab[verticaltabs-ingroup]:hover {
    padding-left: 16px !important;
}

.tabbrowser-tab[verticaltabs-group] {
}

.tabbrowser-tab[verticaltabs-group] .tab-close-button {
    opacity: 1 !important;
}

.tabbrowser-tab[verticaltabs-group] .tab-text {
    padding-left: 3px !important;
}

.verticaltabs-textbox {
    margin: 0;
}

.verticaltabs-counter {
    visibility: collapse;
}

.verticaltabs-droptarget {
    background-color: Highlight !important;
    color: HighlightText !important;
}

.verticaltabs-dropingroup {
    margin-left: 10px !important;
}

.verticaltabs-droptonewgroup {
    /* TODO need icon to symbolize tab group */
    list-style-image: url("chrome://browser/skin/Toolbar.png");
    -moz-image-region: rect(0, 234px, 18px, 216px);
}

.verticaltabs-twisty {
    cursor: default !important;
    margin-left: 1px !important;
    margin-right: 2px !important;
    -moz-appearance: treetwisty !important;
}
.tabbrowser-tab[verticaltabs-collapsed="true"] .verticaltabs-twisty {
    -moz-appearance: treetwistyopen !important;
}
